# DAY_9 & Day_10 & Day_11 & Day_12

In [15]:
 pip show pandas

Name: pandas
Version: 1.4.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\programdata\anaconda3\lib\site-packages
Requires: python-dateutil, numpy, pytz
Required-by: xarray, statsmodels, seaborn, hvplot, holoviews, datashader
Note: you may need to restart the kernel to use updated packages.

# PANDAS:

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

# Pandas are used for:

1.Data set cleaning, merging, and joining.

2.Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data.

3.Columns can be inserted and deleted from DataFrame and higher dimensional objects.

4.Powerful group by functionality for performing split-apply-combine operations on data sets.

5.Data Visulaization

In [2]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
a=[12.25,12,"navee","pavi","dinesh",np.NaN]
py=pd.Series(a)
print(py)

0     12.25
1        12
2     navee
3      pavi
4    dinesh
5       NaN
dtype: object

In [5]:
py.shape

(6,)

In [99]:
det=["navee",20],["dhanu",16]
df=pd.DataFrame(det,columns = ["name","age"],index=[18,16])
df

     name  age
18  navee   20
16  dhanu   16

In [34]:
pd.set_option("display.width",500)
det=["navee",20],["dhanu",16]
df=pd.DataFrame(det)
print(df)

       0   1
0  navee  20
1  dhanu  16

In [25]:
df

     name  age
18  navee   20
16  dhanu   16

In [7]:
df["age"]

18    20
16    16
Name: age, dtype: int64

In [8]:
df["name"]

18    navee
16    dhanu
Name: name, dtype: object

In [9]:
data= {"name":["ajay","vimal"],"age":[10,15]}
sin= pd.DataFrame(data,index=[1,2])
print(sin)

    name  age
1   ajay   10
2  vimal   15

In [3]:
df=pd.read_csv(r"C:\Users\ELCOT\Downloads\archive.zip")

In [11]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
df.head()  #to display 5 rows(first 5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
df.head(18)     #upto 18 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1

In [14]:
df.tail()   #to display last 5 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
df.tail(-763)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [16]:
df[5:10]        #to display rows inbetween
#dataframe[start:stop]
#start value is inclusive & stop value is exclusive

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [17]:
df[0:120:2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
10,4,110,92,0,0,37.6,0.191,30,0
12,10,139,80,0,0,27.1,1.441,57,0
14,5,166,72,19,175,25.8,0.587,51,1
16,0,118,84,47,230,45.8,0.551,31,1
18,1,103,30,38,83,43.3,0.183,33,0
20,3,126,88,41,235,39.3,0.704,27,0
22,7,196,90,0,0,39.8,0.451,41,1
24,11,143,94,33,146,36.6,0.254,51,1
26,7,147,76,0,0,39.4,0.257,43,1
28,13,145,82,19,110,22.2,0.245,57,0
30,5,109,75,26,0,36.0,0.546,60,0
32,3,88,58,11,54,24.8,0.267,22,0
34,10,122,78,31,0,27.6,0.512,45,0
36,11,138,76,0,0,33.2,0.420,35,0
38,2,90,68,42,0,38.2,0.503,27,1
40,3,180,64,25,70,34.0,0.271,26,0
42,7,106,92,18,0,22.7,0.235,48,0
44,7,159,64,0,0,27.4,0.294,40,0
46,1,146,56,0,0,29.7,0.564,29,0
48,7,103,66,32,0,39.1,0.344,31,1
50,1,103,80,11,82,19.4,0.491,22,0
52,5,88,66,21,23,24.4,0.342,30,0
54,7,150,66,42,342,34.7,0.718,42,0
56,7,187,68,39,304,37.7,0.254,41,1
58,0,146,82,0,0,40.5,1.781,44,0
60,2,84,0,0,0,0.0,0.304,21,0
62,5,44,62,0,0,25.0,0.587,36,0
64,7,114,66,0,0,32.8,0.258,42,1
66,0,109,88,30,0,32.5,0.855,38,1
68,1,95,66,13,38,19.6,0.334,25,0
70,2,100,66,20,90,32.9,0.867,28,1
72,13,126,90,0,0,43.4,0.583,42,1
74,1,79,75,30,0,32.0,0.396,22,0
76,7,62,78,0,0,32.6,0.391,41,0
78,0,131,0,0,0,43.2,0.270,26,1
80,3,113,44,13,0,22.4,0.140,22,0
82,7,83,78,26,71,29.3,0.767,36,0
84,5,137,108,0,0,48.8,0.227,37,1
86,13,106,72,54,0,36.6,0.178,45,0
88,15,136,70,32,110,37.1,0.153,43,1
90,1,80,55,0,0,19.1,0.258,21,0
92,7,81,78,40,48,46.7,0.261,42,0
94,2,142,82,18,64,24.7,0.761,21,0
96,2,92,62,28,0,31.6,0.130,24,0
98,6,93,50,30,64,28.7,0.356,23,0
100,1,163,72,0,0,39.0,1.222,33,1
102,0,125,96,0,0,22.5,0.262,21,0
104,2,85,65,0,0,39.6,0.930,27,0
106,1,96,122,0,0,22.4,0.207,27,0
108,3,83,58,31,18,34.3,0.336,25,0
110,3,171,72,33,135,33.3,0.199,24,1
112,1,89,76,34,37,31.2,0.192,23,0
114,7,160,54,32,175,30.5,0.588,39,1
116,5,124,74,0,0,34.0,0.220,38,1
118,4,97,60,23,0,28.2,0.443,22,0

the default value for the maximum rows = 60,after 60 rows it represents ... inbetween

In [18]:
df[0:121:2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
112,1,89,76,34,37,31.2,0.192,23,0
114,7,160,54,32,175,30.5,0.588,39,1
116,5,124,74,0,0,34.0,0.220,38,1
118,4,97,60,23,0,28.2,0.443,22,0
120,0,162,76,56,100,53.2,0.759,25,1

why? just to reduce the memory usage/computational load. But we can increase the default values as below

In [19]:
pd.set_option('display.max_rows',500)

In [20]:
df[0:400]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
30,5,109,75,26,0,36.0,0.546,60,0
31,3,158,76,36,245,31.6,0.851,28,1
32,3,88,58,11,54,24.8,0.267,22,0
33,6,92,92,0,0,19.9,0.188,28,0
34,10,122,78,31,0,27.6,0.512,45,0
35,4,103,60,33,192,24.0,0.966,33,0
36,11,138,76,0,0,33.2,0.420,35,0
37,9,102,76,37,0,32.9,0.665,46,1
38,2,90,68,42,0,38.2,0.503,27,1
39,4,111,72,47,207,37.1,1.390,56,1
40,3,180,64,25,70,34.0,0.271,26,0
41,7,133,84,0,0,40.2,0.696,37,0
42,7,106,92,18,0,22.7,0.235,48,0
43,9,171,110,24,240,45.4,0.721,54,1
44,7,159,64,0,0,27.4,0.294,40,0
45,0,180,66,39,0,42.0,1.893,25,1
46,1,146,56,0,0,29.7,0.564,29,0
47,2,71,70,27,0,28.0,0.586,22,0
48,7,103,66,32,0,39.1,0.344,31,1
49,7,105,0,0,0,0.0,0.305,24,0
50,1,103,80,11,82,19.4,0.491,22,0
51,1,101,50,15,36,24.2,0.526,26,0
52,5,88,66,21,23,24.4,0.342,30,0
53,8,176,90,34,300,33.7,0.467,58,1
54,7,150,66,42,342,34.7,0.718,42,0
55,1,73,50,10,0,23.0,0.248,21,0
56,7,187,68,39,304,37.7,0.254,41,1
57,0,100,88,60,110,46.8,0.962,31,0
58,0,146,82,0,0,40.5,1.781,44,0
59,0,105,64,41,142,41.5,0.173,22,0
60,2,84,0,0,0,0.0,0.304,21,0
61,8,133,72,0,0,32.9,0.270,39,1
62,5,44,62,0,0,25.0,0.587,36,0
63,2,141,58,34,128,25.4,0.699,24,0
64,7,114,66,0,0,32.8,0.258,42,1
65,5,99,74,27,0,29.0,0.203,32,0
66,0,109,88,30,0,32.5,0.855,38,1
67,2,109,92,0,0,42.7,0.845,54,0
68,1,95,66,13,38,19.6,0.334,25,0
69,4,146,85,27,100,28.9,0.189,27,0
70,2,100,66,20,90,32.9,0.867,28,1
71,5,139,64,35,140,28.6,0.411,26,0
72,13,126,90,0,0,43.4,0.583,42,1
73,4,129,86,20,270,35.1,0.231,23,0
74,1,79,75,30,0,32.0,0.396,22,0
75,1,0,48,20,0,24.7,0.140,22,0
76,7,62,78,0,0,32.6,0.391,41,0
77,5,95,72,33,0,37.7,0.370,27,0
78,0,131,0,0,0,43.2,0.270,26,1
79,2,112,66,22,0,25.0,0.307,24,0
80,3,113,44,13,0,22.4,0.140,22,0
81,2,74,0,0,0,0.0,0.102,22,0
82,7,83,78,26,71,29.3,0.767,36,0
83,0,101,65,28,0,24.6,0.237,22,0
84,5,137,108,0,0,48.8,0.227,37,1
85,2,110,74,29,125,32.4,0.698,27,0
86,13,106,72,54,0,36.6,0.178,45,0
87,2,100,68,25,71,38.5,0.324,26,0
88,15,136,70,32,110,37.1,0.153,43,1
89,1,107,68,19,0,26.5,0.165,24,0
90,1,80,55,0,0,19.1,0.258,21,0
91,4,123,80,15,176,32.0,0.443,34,0
92,7,81,78,40,48,46.7,0.261,42,0
93,4,134,72,0,0,23.8,0.277,60,1
94,2,142,82,18,64,24.7,0.761,21,0
95,6,144,72,27,228,33.9,0.255,40,0
96,2,92,62,28,0,31.6,0.130,24,0
97,1,71,48,18,76,20.4,0.323,22,0
98,6,93,50,30,64,28.7,0.356,23,0
99,1,122,90,51,220,49.7,0.325,31,1
100,1,163,72,0,0,39.0,1.222,33,1
101,1,151,60,0,0,26.1,0.179,22,0
102,0,125,96,0,0,22.5,0.262,21,0
103,1,81,72,18,40,26.6,0.283,24,0
104,2,85,65,0,0,39.6,0.930,27,0
105,1,126,56,29,152,28.7,0.801,21,0
106,1,96,122,0,0,22.4,0.207,27,0
107,4,144,58,28,140,29.5,0.287,37,0
108,3,83,58,31,18,34.3,0.336,25,0
109,0,95,85,25,36,37.4,0.247,24,1
110,3,171,72,33,135,33.3,0.199,24,1
111,8,155,62,26,495,34.0,0.543,46,1
112,1,89,76,34,37,31.2,0.192,23,0
113,4,76,62,0,0,34.0,0.391,25,0
114,7,160,54,32,175,30.5,0.588,39,1
115,4,146,92,0,0,31.2,0.539,61,1
116,5,124,74,0,0,34.0,0.220,38,1
117,5,78,48,0,0,33.7,0.654,25,0
118,4,97,60,23,0,28.2,0.443,22,0
119,4,99,76,15,51,23.2,0.223,21,0
120,0,162,76,56,100,53.2,0.759,25,1
121,6,111,64,39,0,34.2,0.260,24,0
122,2,107,74,30,100,33.6,0.404,23,0
123,5,132,80,0,0,26.8,0.186,69,0
124,0,113,76,0,0,33.3,0.278,23,1
125,1,88,30,42,99,55.0,0.496,26,1
126,3,120,70,30,135,42.9,0.452,30,0
127,1,118,58,36,94,33.3,0.261,23,0
128,1,117,88,24,145,34.5,0.403,40,1
129,0,105,84,0,0,27.9,0.741,62,1
130,4,173,70,14,168,29.7,0.361,33,1
131,9,122,56,0,0,33.3,1.114,33,1
132,3,170,64,37,225,34.5,0.356,30,1
133,8,84,74,31,0,38.3,0.457,39,0
134,2,96,68,13,49,21.1,0.647,26,0
135,2,125,60,20,140,33.8,0.088,31,0
136,0,100,70,26,50,30.8,0.597,21,0
137,0,93,60,25,92,28.7,0.532,22,0
138,0,129,80,0,0,31.2,0.703,29,0
139,5,105,72,29,325,36.9,0.159,28,0
140,3,128,78,0,0,21.1,0.268,55,0
141,5,106,82,30,0,39.5,0.286,38,0
142,2,108,52,26,63,32.5,0.318,22,0
143,10,108,66,0,0,32.4,0.272,42,1
144,4,154,62,31,284,32.8,0.237,23,0
145,0,102,75,23,0,0.0,0.572,21,0
146,9,57,80,37,0,32.8,0.096,41,0
147,2,106,64,35,119,30.5,1.400,34,0
148,5,147,78,0,0,33.7,0.218,65,0
149,2,90,70,17,0,27.3,0.085,22,0
150,1,136,74,50,204,37.4,0.399,24,0
151,4,114,65,0,0,21.9,0.432,37,0
152,9,156,86,28,155,34.3,1.189,42,1
153,1,153,82,42,485,40.6,0.687,23,0
154,8,188,78,0,0,47.9,0.137,43,1
155,7,152,88,44,0,50.0,0.337,36,1
156,2,99,52,15,94,24.6,0.637,21,0
157,1,109,56,21,135,25.2,0.833,23,0
158,2,88,74,19,53,29.0,0.229,22,0
159,17,163,72,41,114,40.9,0.817,47,1
160,4,151,90,38,0,29.7,0.294,36,0
161,7,102,74,40,105,37.2,0.204,45,0
162,0,114,80,34,285,44.2,0.167,27,0
163,2,100,64,23,0,29.7,0.368,21,0
164,0,131,88,0,0,31.6,0.743,32,1
165,6,104,74,18,156,29.9,0.722,41,1
166,3,148,66,25,0,32.5,0.256,22,0
167,4,120,68,0,0,29.6,0.709,34,0
168,4,110,66,0,0,31.9,0.471,29,0
169,3,111,90,12,78,28.4,0.495,29,0
170,6,102,82,0,0,30.8,0.180,36,1
171,6,134,70,23,130,35.4,0.542,29,1
172,2,87,0,23,0,28.9,0.773,25,0
173,1,79,60,42,48,43.5,0.678,23,0
174,2,75,64,24,55,29.7,0.370,33,0
175,8,179,72,42,130,32.7,0.719,36,1
176,6,85,78,0,0,31.2,0.382,42,0
177,0,129,110,46,130,67.1,0.319,26,1
178,5,143,78,0,0,45.0,0.190,47,0
179,5,130,82,0,0,39.1,0.956,37,1
180,6,87,80,0,0,23.2,0.084,32,0
181,0,119,64,18,92,34.9,0.725,23,0
182,1,0,74,20,23,27.7,0.299,21,0
183,5,73,60,0,0,26.8,0.268,27,0
184,4,141,74,0,0,27.6,0.244,40,0
185,7,194,68,28,0,35.9,0.745,41,1
186,8,181,68,36,495,30.1,0.615,60,1
187,1,128,98,41,58,32.0,1.321,33,1
188,8,109,76,39,114,27.9,0.640,31,1
189,5,139,80,35,160,31.6,0.361,25,1
190,3,111,62,0,0,22.6,0.142,21,0
191,9,123,70,44,94,33.1,0.374,40,0
192,7,159,66,0,0,30.4,0.383,36,1
193,11,135,0,0,0,52.3,0.578,40,1
194,8,85,55,20,0,24.4,0.136,42,0
195,5,158,84,41,210,39.4,0.395,29,1
196,1,105,58,0,0,24.3,0.187,21,0
197,3,107,62,13,48,22.9,0.678,23,1
198,4,109,64,44,99,34.8,0.905,26,1
199,4,148,60,27,318,30.9,0.150,29,1
200,0,113,80,16,0,31.0,0.874,21,0
201,1,138,82,0,0,40.1,0.236,28,0
202,0,108,68,20,0,27.3,0.787,32,0
203,2,99,70,16,44,20.4,0.235,27,0
204,6,103,72,32,190,37.7,0.324,55,0
205,5,111,72,28,0,23.9,0.407,27,0
206,8,196,76,29,280,37.5,0.605,57,1
207,5,162,104,0,0,37.7,0.151,52,1
208,1,96,64,27,87,33.2,0.289,21,0
209,7,184,84,33,0,35.5,0.355,41,1
210,2,81,60,22,0,27.7,0.290,25,0
211,0,147,85,54,0,42.8,0.375,24,0
212,7,179,95,31,0,34.2,0.164,60,0
213,0,140,65,26,130,42.6,0.431,24,1
214,9,112,82,32,175,34.2,0.260,36,1
215,12,151,70,40,271,41.8,0.742,38,1
216,5,109,62,41,129,35.8,0.514,25,1
217,6,125,68,30,120,30.0,0.464,32,0
218,5,85,74,22,0,29.0,1.224,32,1
219,5,112,66,0,0,37.8,0.261,41,1
220,0,177,60,29,478,34.6,1.072,21,1
221,2,158,90,0,0,31.6,0.805,66,1
222,7,119,0,0,0,25.2,0.209,37,0
223,7,142,60,33,190,28.8,0.687,61,0
224,1,100,66,15,56,23.6,0.666,26,0
225,1,87,78,27,32,34.6,0.101,22,0
226,0,101,76,0,0,35.7,0.198,26,0
227,3,162,52,38,0,37.2,0.652,24,1
228,4,197,70,39,744,36.7,2.329,31,0
229,0,117,80,31,53,45.2,0.089,24,0
230,4,142,86,0,0,44.0,0.645,22,1
231,6,134,80,37,370,46.2,0.238,46,1
232,1,79,80,25,37,25.4,0.583,22,0
233,4,122,68,0,0,35.0,0.394,29,0
234,3,74,68,28,45,29.7,0.293,23,0
235,4,171,72,0,0,43.6,0.479,26,1
236,7,181,84,21,192,35.9,0.586,51,1
237,0,179,90,27,0,44.1,0.686,23,1
238,9,164,84,21,0,30.8,0.831,32,1
239,0,104,76,0,0,18.4,0.582,27,0
240,1,91,64,24,0,29.2,0.192,21,0
241,4,91,70,32,88,33.1,0.446,22,0
242,3,139,54,0,0,25.6,0.402,22,1
243,6,119,50,22,176,27.1,1.318,33,1
244,2,146,76,35,194,38.2,0.329,29,0
245,9,184,85,15,0,30.0,1.213,49,1
246,10,122,68,0,0,31.2,0.258,41,0
247,0,165,90,33,680,52.3,0.427,23,0
248,9,124,70,33,402,35.4,0.282,34,0
249,1,111,86,19,0,30.1,0.143,23,0
250,9,106,52,0,0,31.2,0.380,42,0
251,2,129,84,0,0,28.0,0.284,27,0
252,2,90,80,14,55,24.4,0.249,24,0
253,0,86,68,32,0,35.8,0.238,25,0
254,12,92,62,7,258,27.6,0.926,44,1
255,1,113,64,35,0,33.6,0.543,21,1
256,3,111,56,39,0,30.1,0.557,30,0
257,2,114,68,22,0,28.7,0.092,25,0
258,1,193,50,16,375,25.9,0.655,24,0
259,11,155,76,28,150,33.3,1.353,51,1
260,3,191,68,15,130,30.9,0.299,34,0
261,3,141,0,0,0,30.0,0.761,27,1
262,4,95,70,32,0,32.1,0.612,24,0
263,3,142,80,15,0,32.4,0.200,63,0
264,4,123,62,0,0,32.0,0.226,35,1
265,5,96,74,18,67,33.6,0.997,43,0
266,0,138,0,0,0,36.3,0.933,25,1
267,2,128,64,42,0,40.0,1.101,24,0
268,0,102,52,0,0,25.1,0.078,21,0
269,2,146,0,0,0,27.5,0.240,28,1
270,10,101,86,37,0,45.6,1.136,38,1
271,2,108,62,32,56,25.2,0.128,21,0
272,3,122,78,0,0,23.0,0.254,40,0
273,1,71,78,50,45,33.2,0.422,21,0
274,13,106,70,0,0,34.2,0.251,52,0
275,2,100,70,52,57,40.5,0.677,25,0
276,7,106,60,24,0,26.5,0.296,29,1
277,0,104,64,23,116,27.8,0.454,23,0
278,5,114,74,0,0,24.9,0.744,57,0
279,2,108,62,10,278,25.3,0.881,22,0
280,0,146,70,0,0,37.9,0.334,28,1
281,10,129,76,28,122,35.9,0.280,39,0
282,7,133,88,15,155,32.4,0.262,37,0
283,7,161,86,0,0,30.4,0.165,47,1
284,2,108,80,0,0,27.0,0.259,52,1
285,7,136,74,26,135,26.0,0.647,51,0
286,5,155,84,44,545,38.7,0.619,34,0
287,1,119,86,39,220,45.6,0.808,29,1
288,4,96,56,17,49,20.8,0.340,26,0
289,5,108,72,43,75,36.1,0.263,33,0
290,0,78,88,29,40,36.9,0.434,21,0
291,0,107,62,30,74,36.6,0.757,25,1
292,2,128,78,37,182,43.3,1.224,31,1
293,1,128,48,45,194,40.5,0.613,24,1
294,0,161,50,0,0,21.9,0.254,65,0
295,6,151,62,31,120,35.5,0.692,28,0
296,2,146,70,38,360,28.0,0.337,29,1
297,0,126,84,29,215,30.7,0.520,24,0
298,14,100,78,25,184,36.6,0.412,46,1
299,8,112,72,0,0,23.6,0.840,58,0
300,0,167,0,0,0,32.3,0.839,30,1
301,2,144,58,33,135,31.6,0.422,25,1
302,5,77,82,41,42,35.8,0.156,35,0
303,5,115,98,0,0,52.9,0.209,28,1
304,3,150,76,0,0,21.0,0.207,37,0
305,2,120,76,37,105,39.7,0.215,29,0
306,10,161,68,23,132,25.5,0.326,47,1
307,0,137,68,14,148,24.8,0.143,21,0
308,0,128,68,19,180,30.5,1.391,25,1
309,2,124,68,28,205,32.9,0.875,30,1
310,6,80,66,30,0,26.2,0.313,41,0
311,0,106,70,37,148,39.4,0.605,22,0
312,2,155,74,17,96,26.6,0.433,27,1
313,3,113,50,10,85,29.5,0.626,25,0
314,7,109,80,31,0,35.9,1.127,43,1
315,2,112,68,22,94,34.1,0.315,26,0
316,3,99,80,11,64,19.3,0.284,30,0
317,3,182,74,0,0,30.5,0.345,29,1
318,3,115,66,39,140,38.1,0.150,28,0
319,6,194,78,0,0,23.5,0.129,59,1
320,4,129,60,12,231,27.5,0.527,31,0
321,3,112,74,30,0,31.6,0.197,25,1
322,0,124,70,20,0,27.4,0.254,36,1
323,13,152,90,33,29,26.8,0.731,43,1
324,2,112,75,32,0,35.7,0.148,21,0
325,1,157,72,21,168,25.6,0.123,24,0
326,1,122,64,32,156,35.1,0.692,30,1
327,10,179,70,0,0,35.1,0.200,37,0
328,2,102,86,36,120,45.5,0.127,23,1
329,6,105,70,32,68,30.8,0.122,37,0
330,8,118,72,19,0,23.1,1.476,46,0
331,2,87,58,16,52,32.7,0.166,25,0
332,1,180,0,0,0,43.3,0.282,41,1
333,12,106,80,0,0,23.6,0.137,44,0
334,1,95,60,18,58,23.9,0.260,22,0
335,0,165,76,43,255,47.9,0.259,26,0
336,0,117,0,0,0,33.8,0.932,44,0
337,5,115,76,0,0,31.2,0.343,44,1
338,9,152,78,34,171,34.2,0.893,33,1
339,7,178,84,0,0,39.9,0.331,41,1
340,1,130,70,13,105,25.9,0.472,22,0
341,1,95,74,21,73,25.9,0.673,36,0
342,1,0,68,35,0,32.0,0.389,22,0
343,5,122,86,0,0,34.7,0.290,33,0
344,8,95,72,0,0,36.8,0.485,57,0
345,8,126,88,36,108,38.5,0.349,49,0
346,1,139,46,19,83,28.7,0.654,22,0
347,3,116,0,0,0,23.5,0.187,23,0
348,3,99,62,19,74,21.8,0.279,26,0
349,5,0,80,32,0,41.0,0.346,37,1
350,4,92,80,0,0,42.2,0.237,29,0
351,4,137,84,0,0,31.2,0.252,30,0
352,3,61,82,28,0,34.4,0.243,46,0
353,1,90,62,12,43,27.2,0.580,24,0
354,3,90,78,0,0,42.7,0.559,21,0
355,9,165,88,0,0,30.4,0.302,49,1
356,1,125,50,40,167,33.3,0.962,28,1
357,13,129,0,30,0,39.9,0.569,44,1
358,12,88,74,40,54,35.3,0.378,48,0
359,1,196,76,36,249,36.5,0.875,29,1
360,5,189,64,33,325,31.2,0.583,29,1
361,5,158,70,0,0,29.8,0.207,63,0
362,5,103,108,37,0,39.2,0.305,65,0
363,4,146,78,0,0,38.5,0.520,67,1
364,4,147,74,25,293,34.9,0.385,30,0
365,5,99,54,28,83,34.0,0.499,30,0
366,6,124,72,0,0,27.6,0.368,29,1
367,0,101,64,17,0,21.0,0.252,21,0
368,3,81,86,16,66,27.5,0.306,22,0
369,1,133,102,28,140,32.8,0.234,45,1
370,3,173,82,48,465,38.4,2.137,25,1
371,0,118,64,23,89,0.0,1.731,21,0
372,0,84,64,22,66,35.8,0.545,21,0
373,2,105,58,40,94,34.9,0.225,25,0
374,2,122,52,43,158,36.2,0.816,28,0
375,12,140,82,43,325,39.2,0.528,58,1
376,0,98,82,15,84,25.2,0.299,22,0
377,1,87,60,37,75,37.2,0.509,22,0
378,4,156,75,0,0,48.3,0.238,32,1
379,0,93,100,39,72,43.4,1.021,35,0
380,1,107,72,30,82,30.8,0.821,24,0
381,0,105,68,22,0,20.0,0.236,22,0
382,1,109,60,8,182,25.4,0.947,21,0
383,1,90,62,18,59,25.1,1.268,25,0
384,1,125,70,24,110,24.3,0.221,25,0
385,1,119,54,13,50,22.3,0.205,24,0
386,5,116,74,29,0,32.3,0.660,35,1
387,8,105,100,36,0,43.3,0.239,45,1
388,5,144,82,26,285,32.0,0.452,58,1
389,3,100,68,23,81,31.6,0.949,28,0
390,1,100,66,29,196,32.0,0.444,42,0
391,5,166,76,0,0,45.7,0.340,27,1
392,1,131,64,14,415,23.7,0.389,21,0
393,4,116,72,12,87,22.1,0.463,37,0
394,4,158,78,0,0,32.9,0.803,31,1
395,2,127,58,24,275,27.7,1.600,25,0
396,3,96,56,34,115,24.7,0.944,39,0
397,0,131,66,40,0,34.3,0.196,22,1
398,3,82,70,0,0,21.1,0.389,25,0
399,3,193,70,31,0,34.9,0.241,25,1

it will also happens with the rows when the dataframe has more columns.for that,

In [21]:
pd.set_option("display.max_columns",500)

In [22]:
df[0:500]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
30,5,109,75,26,0,36.0,0.546,60,0
31,3,158,76,36,245,31.6,0.851,28,1
32,3,88,58,11,54,24.8,0.267,22,0
33,6,92,92,0,0,19.9,0.188,28,0
34,10,122,78,31,0,27.6,0.512,45,0
35,4,103,60,33,192,24.0,0.966,33,0
36,11,138,76,0,0,33.2,0.420,35,0
37,9,102,76,37,0,32.9,0.665,46,1
38,2,90,68,42,0,38.2,0.503,27,1
39,4,111,72,47,207,37.1,1.390,56,1
40,3,180,64,25,70,34.0,0.271,26,0
41,7,133,84,0,0,40.2,0.696,37,0
42,7,106,92,18,0,22.7,0.235,48,0
43,9,171,110,24,240,45.4,0.721,54,1
44,7,159,64,0,0,27.4,0.294,40,0
45,0,180,66,39,0,42.0,1.893,25,1
46,1,146,56,0,0,29.7,0.564,29,0
47,2,71,70,27,0,28.0,0.586,22,0
48,7,103,66,32,0,39.1,0.344,31,1
49,7,105,0,0,0,0.0,0.305,24,0
50,1,103,80,11,82,19.4,0.491,22,0
51,1,101,50,15,36,24.2,0.526,26,0
52,5,88,66,21,23,24.4,0.342,30,0
53,8,176,90,34,300,33.7,0.467,58,1
54,7,150,66,42,342,34.7,0.718,42,0
55,1,73,50,10,0,23.0,0.248,21,0
56,7,187,68,39,304,37.7,0.254,41,1
57,0,100,88,60,110,46.8,0.962,31,0
58,0,146,82,0,0,40.5,1.781,44,0
59,0,105,64,41,142,41.5,0.173,22,0
60,2,84,0,0,0,0.0,0.304,21,0
61,8,133,72,0,0,32.9,0.270,39,1
62,5,44,62,0,0,25.0,0.587,36,0
63,2,141,58,34,128,25.4,0.699,24,0
64,7,114,66,0,0,32.8,0.258,42,1
65,5,99,74,27,0,29.0,0.203,32,0
66,0,109,88,30,0,32.5,0.855,38,1
67,2,109,92,0,0,42.7,0.845,54,0
68,1,95,66,13,38,19.6,0.334,25,0
69,4,146,85,27,100,28.9,0.189,27,0
70,2,100,66,20,90,32.9,0.867,28,1
71,5,139,64,35,140,28.6,0.411,26,0
72,13,126,90,0,0,43.4,0.583,42,1
73,4,129,86,20,270,35.1,0.231,23,0
74,1,79,75,30,0,32.0,0.396,22,0
75,1,0,48,20,0,24.7,0.140,22,0
76,7,62,78,0,0,32.6,0.391,41,0
77,5,95,72,33,0,37.7,0.370,27,0
78,0,131,0,0,0,43.2,0.270,26,1
79,2,112,66,22,0,25.0,0.307,24,0
80,3,113,44,13,0,22.4,0.140,22,0
81,2,74,0,0,0,0.0,0.102,22,0
82,7,83,78,26,71,29.3,0.767,36,0
83,0,101,65,28,0,24.6,0.237,22,0
84,5,137,108,0,0,48.8,0.227,37,1
85,2,110,74,29,125,32.4,0.698,27,0
86,13,106,72,54,0,36.6,0.178,45,0
87,2,100,68,25,71,38.5,0.324,26,0
88,15,136,70,32,110,37.1,0.153,43,1
89,1,107,68,19,0,26.5,0.165,24,0
90,1,80,55,0,0,19.1,0.258,21,0
91,4,123,80,15,176,32.0,0.443,34,0
92,7,81,78,40,48,46.7,0.261,42,0
93,4,134,72,0,0,23.8,0.277,60,1
94,2,142,82,18,64,24.7,0.761,21,0
95,6,144,72,27,228,33.9,0.255,40,0
96,2,92,62,28,0,31.6,0.130,24,0
97,1,71,48,18,76,20.4,0.323,22,0
98,6,93,50,30,64,28.7,0.356,23,0
99,1,122,90,51,220,49.7,0.325,31,1
100,1,163,72,0,0,39.0,1.222,33,1
101,1,151,60,0,0,26.1,0.179,22,0
102,0,125,96,0,0,22.5,0.262,21,0
103,1,81,72,18,40,26.6,0.283,24,0
104,2,85,65,0,0,39.6,0.930,27,0
105,1,126,56,29,152,28.7,0.801,21,0
106,1,96,122,0,0,22.4,0.207,27,0
107,4,144,58,28,140,29.5,0.287,37,0
108,3,83,58,31,18,34.3,0.336,25,0
109,0,95,85,25,36,37.4,0.247,24,1
110,3,171,72,33,135,33.3,0.199,24,1
111,8,155,62,26,495,34.0,0.543,46,1
112,1,89,76,34,37,31.2,0.192,23,0
113,4,76,62,0,0,34.0,0.391,25,0
114,7,160,54,32,175,30.5,0.588,39,1
115,4,146,92,0,0,31.2,0.539,61,1
116,5,124,74,0,0,34.0,0.220,38,1
117,5,78,48,0,0,33.7,0.654,25,0
118,4,97,60,23,0,28.2,0.443,22,0
119,4,99,76,15,51,23.2,0.223,21,0
120,0,162,76,56,100,53.2,0.759,25,1
121,6,111,64,39,0,34.2,0.260,24,0
122,2,107,74,30,100,33.6,0.404,23,0
123,5,132,80,0,0,26.8,0.186,69,0
124,0,113,76,0,0,33.3,0.278,23,1
125,1,88,30,42,99,55.0,0.496,26,1
126,3,120,70,30,135,42.9,0.452,30,0
127,1,118,58,36,94,33.3,0.261,23,0
128,1,117,88,24,145,34.5,0.403,40,1
129,0,105,84,0,0,27.9,0.741,62,1
130,4,173,70,14,168,29.7,0.361,33,1
131,9,122,56,0,0,33.3,1.114,33,1
132,3,170,64,37,225,34.5,0.356,30,1
133,8,84,74,31,0,38.3,0.457,39,0
134,2,96,68,13,49,21.1,0.647,26,0
135,2,125,60,20,140,33.8,0.088,31,0
136,0,100,70,26,50,30.8,0.597,21,0
137,0,93,60,25,92,28.7,0.532,22,0
138,0,129,80,0,0,31.2,0.703,29,0
139,5,105,72,29,325,36.9,0.159,28,0
140,3,128,78,0,0,21.1,0.268,55,0
141,5,106,82,30,0,39.5,0.286,38,0
142,2,108,52,26,63,32.5,0.318,22,0
143,10,108,66,0,0,32.4,0.272,42,1
144,4,154,62,31,284,32.8,0.237,23,0
145,0,102,75,23,0,0.0,0.572,21,0
146,9,57,80,37,0,32.8,0.096,41,0
147,2,106,64,35,119,30.5,1.400,34,0
148,5,147,78,0,0,33.7,0.218,65,0
149,2,90,70,17,0,27.3,0.085,22,0
150,1,136,74,50,204,37.4,0.399,24,0
151,4,114,65,0,0,21.9,0.432,37,0
152,9,156,86,28,155,34.3,1.189,42,1
153,1,153,82,42,485,40.6,0.687,23,0
154,8,188,78,0,0,47.9,0.137,43,1
155,7,152,88,44,0,50.0,0.337,36,1
156,2,99,52,15,94,24.6,0.637,21,0
157,1,109,56,21,135,25.2,0.833,23,0
158,2,88,74,19,53,29.0,0.229,22,0
159,17,163,72,41,114,40.9,0.817,47,1
160,4,151,90,38,0,29.7,0.294,36,0
161,7,102,74,40,105,37.2,0.204,45,0
162,0,114,80,34,285,44.2,0.167,27,0
163,2,100,64,23,0,29.7,0.368,21,0
164,0,131,88,0,0,31.6,0.743,32,1
165,6,104,74,18,156,29.9,0.722,41,1
166,3,148,66,25,0,32.5,0.256,22,0
167,4,120,68,0,0,29.6,0.709,34,0
168,4,110,66,0,0,31.9,0.471,29,0
169,3,111,90,12,78,28.4,0.495,29,0
170,6,102,82,0,0,30.8,0.180,36,1
171,6,134,70,23,130,35.4,0.542,29,1
172,2,87,0,23,0,28.9,0.773,25,0
173,1,79,60,42,48,43.5,0.678,23,0
174,2,75,64,24,55,29.7,0.370,33,0
175,8,179,72,42,130,32.7,0.719,36,1
176,6,85,78,0,0,31.2,0.382,42,0
177,0,129,110,46,130,67.1,0.319,26,1
178,5,143,78,0,0,45.0,0.190,47,0
179,5,130,82,0,0,39.1,0.956,37,1
180,6,87,80,0,0,23.2,0.084,32,0
181,0,119,64,18,92,34.9,0.725,23,0
182,1,0,74,20,23,27.7,0.299,21,0
183,5,73,60,0,0,26.8,0.268,27,0
184,4,141,74,0,0,27.6,0.244,40,0
185,7,194,68,28,0,35.9,0.745,41,1
186,8,181,68,36,495,30.1,0.615,60,1
187,1,128,98,41,58,32.0,1.321,33,1
188,8,109,76,39,114,27.9,0.640,31,1
189,5,139,80,35,160,31.6,0.361,25,1
190,3,111,62,0,0,22.6,0.142,21,0
191,9,123,70,44,94,33.1,0.374,40,0
192,7,159,66,0,0,30.4,0.383,36,1
193,11,135,0,0,0,52.3,0.578,40,1
194,8,85,55,20,0,24.4,0.136,42,0
195,5,158,84,41,210,39.4,0.395,29,1
196,1,105,58,0,0,24.3,0.187,21,0
197,3,107,62,13,48,22.9,0.678,23,1
198,4,109,64,44,99,34.8,0.905,26,1
199,4,148,60,27,318,30.9,0.150,29,1
200,0,113,80,16,0,31.0,0.874,21,0
201,1,138,82,0,0,40.1,0.236,28,0
202,0,108,68,20,0,27.3,0.787,32,0
203,2,99,70,16,44,20.4,0.235,27,0
204,6,103,72,32,190,37.7,0.324,55,0
205,5,111,72,28,0,23.9,0.407,27,0
206,8,196,76,29,280,37.5,0.605,57,1
207,5,162,104,0,0,37.7,0.151,52,1
208,1,96,64,27,87,33.2,0.289,21,0
209,7,184,84,33,0,35.5,0.355,41,1
210,2,81,60,22,0,27.7,0.290,25,0
211,0,147,85,54,0,42.8,0.375,24,0
212,7,179,95,31,0,34.2,0.164,60,0
213,0,140,65,26,130,42.6,0.431,24,1
214,9,112,82,32,175,34.2,0.260,36,1
215,12,151,70,40,271,41.8,0.742,38,1
216,5,109,62,41,129,35.8,0.514,25,1
217,6,125,68,30,120,30.0,0.464,32,0
218,5,85,74,22,0,29.0,1.224,32,1
219,5,112,66,0,0,37.8,0.261,41,1
220,0,177,60,29,478,34.6,1.072,21,1
221,2,158,90,0,0,31.6,0.805,66,1
222,7,119,0,0,0,25.2,0.209,37,0
223,7,142,60,33,190,28.8,0.687,61,0
224,1,100,66,15,56,23.6,0.666,26,0
225,1,87,78,27,32,34.6,0.101,22,0
226,0,101,76,0,0,35.7,0.198,26,0
227,3,162,52,38,0,37.2,0.652,24,1
228,4,197,70,39,744,36.7,2.329,31,0
229,0,117,80,31,53,45.2,0.089,24,0
230,4,142,86,0,0,44.0,0.645,22,1
231,6,134,80,37,370,46.2,0.238,46,1
232,1,79,80,25,37,25.4,0.583,22,0
233,4,122,68,0,0,35.0,0.394,29,0
234,3,74,68,28,45,29.7,0.293,23,0
235,4,171,72,0,0,43.6,0.479,26,1
236,7,181,84,21,192,35.9,0.586,51,1
237,0,179,90,27,0,44.1,0.686,23,1
238,9,164,84,21,0,30.8,0.831,32,1
239,0,104,76,0,0,18.4,0.582,27,0
240,1,91,64,24,0,29.2,0.192,21,0
241,4,91,70,32,88,33.1,0.446,22,0
242,3,139,54,0,0,25.6,0.402,22,1
243,6,119,50,22,176,27.1,1.318,33,1
244,2,146,76,35,194,38.2,0.329,29,0
245,9,184,85,15,0,30.0,1.213,49,1
246,10,122,68,0,0,31.2,0.258,41,0
247,0,165,90,33,680,52.3,0.427,23,0
248,9,124,70,33,402,35.4,0.282,34,0
249,1,111,86,19,0,30.1,0.143,23,0
250,9,106,52,0,0,31.2,0.380,42,0
251,2,129,84,0,0,28.0,0.284,27,0
252,2,90,80,14,55,24.4,0.249,24,0
253,0,86,68,32,0,35.8,0.238,25,0
254,12,92,62,7,258,27.6,0.926,44,1
255,1,113,64,35,0,33.6,0.543,21,1
256,3,111,56,39,0,30.1,0.557,30,0
257,2,114,68,22,0,28.7,0.092,25,0
258,1,193,50,16,375,25.9,0.655,24,0
259,11,155,76,28,150,33.3,1.353,51,1
260,3,191,68,15,130,30.9,0.299,34,0
261,3,141,0,0,0,30.0,0.761,27,1
262,4,95,70,32,0,32.1,0.612,24,0
263,3,142,80,15,0,32.4,0.200,63,0
264,4,123,62,0,0,32.0,0.226,35,1
265,5,96,74,18,67,33.6,0.997,43,0
266,0,138,0,0,0,36.3,0.933,25,1
267,2,128,64,42,0,40.0,1.101,24,0
268,0,102,52,0,0,25.1,0.078,21,0
269,2,146,0,0,0,27.5,0.240,28,1
270,10,101,86,37,0,45.6,1.136,38,1
271,2,108,62,32,56,25.2,0.128,21,0
272,3,122,78,0,0,23.0,0.254,40,0
273,1,71,78,50,45,33.2,0.422,21,0
274,13,106,70,0,0,34.2,0.251,52,0
275,2,100,70,52,57,40.5,0.677,25,0
276,7,106,60,24,0,26.5,0.296,29,1
277,0,104,64,23,116,27.8,0.454,23,0
278,5,114,74,0,0,24.9,0.744,57,0
279,2,108,62,10,278,25.3,0.881,22,0
280,0,146,70,0,0,37.9,0.334,28,1
281,10,129,76,28,122,35.9,0.280,39,0
282,7,133,88,15,155,32.4,0.262,37,0
283,7,161,86,0,0,30.4,0.165,47,1
284,2,108,80,0,0,27.0,0.259,52,1
285,7,136,74,26,135,26.0,0.647,51,0
286,5,155,84,44,545,38.7,0.619,34,0
287,1,119,86,39,220,45.6,0.808,29,1
288,4,96,56,17,49,20.8,0.340,26,0
289,5,108,72,43,75,36.1,0.263,33,0
290,0,78,88,29,40,36.9,0.434,21,0
291,0,107,62,30,74,36.6,0.757,25,1
292,2,128,78,37,182,43.3,1.224,31,1
293,1,128,48,45,194,40.5,0.613,24,1
294,0,161,50,0,0,21.9,0.254,65,0
295,6,151,62,31,120,35.5,0.692,28,0
296,2,146,70,38,360,28.0,0.337,29,1
297,0,126,84,29,215,30.7,0.520,24,0
298,14,100,78,25,184,36.6,0.412,46,1
299,8,112,72,0,0,23.6,0.840,58,0
300,0,167,0,0,0,32.3,0.839,30,1
301,2,144,58,33,135,31.6,0.422,25,1
302,5,77,82,41,42,35.8,0.156,35,0
303,5,115,98,0,0,52.9,0.209,28,1
304,3,150,76,0,0,21.0,0.207,37,0
305,2,120,76,37,105,39.7,0.215,29,0
306,10,161,68,23,132,25.5,0.326,47,1
307,0,137,68,14,148,24.8,0.143,21,0
308,0,128,68,19,180,30.5,1.391,25,1
309,2,124,68,28,205,32.9,0.875,30,1
310,6,80,66,30,0,26.2,0.313,41,0
311,0,106,70,37,148,39.4,0.605,22,0
312,2,155,74,17,96,26.6,0.433,27,1
313,3,113,50,10,85,29.5,0.626,25,0
314,7,109,80,31,0,35.9,1.127,43,1
315,2,112,68,22,94,34.1,0.315,26,0
316,3,99,80,11,64,19.3,0.284,30,0
317,3,182,74,0,0,30.5,0.345,29,1
318,3,115,66,39,140,38.1,0.150,28,0
319,6,194,78,0,0,23.5,0.129,59,1
320,4,129,60,12,231,27.5,0.527,31,0
321,3,112,74,30,0,31.6,0.197,25,1
322,0,124,70,20,0,27.4,0.254,36,1
323,13,152,90,33,29,26.8,0.731,43,1
324,2,112,75,32,0,35.7,0.148,21,0
325,1,157,72,21,168,25.6,0.123,24,0
326,1,122,64,32,156,35.1,0.692,30,1
327,10,179,70,0,0,35.1,0.200,37,0
328,2,102,86,36,120,45.5,0.127,23,1
329,6,105,70,32,68,30.8,0.122,37,0
330,8,118,72,19,0,23.1,1.476,46,0
331,2,87,58,16,52,32.7,0.166,25,0
332,1,180,0,0,0,43.3,0.282,41,1
333,12,106,80,0,0,23.6,0.137,44,0
334,1,95,60,18,58,23.9,0.260,22,0
335,0,165,76,43,255,47.9,0.259,26,0
336,0,117,0,0,0,33.8,0.932,44,0
337,5,115,76,0,0,31.2,0.343,44,1
338,9,152,78,34,171,34.2,0.893,33,1
339,7,178,84,0,0,39.9,0.331,41,1
340,1,130,70,13,105,25.9,0.472,22,0
341,1,95,74,21,73,25.9,0.673,36,0
342,1,0,68,35,0,32.0,0.389,22,0
343,5,122,86,0,0,34.7,0.290,33,0
344,8,95,72,0,0,36.8,0.485,57,0
345,8,126,88,36,108,38.5,0.349,49,0
346,1,139,46,19,83,28.7,0.654,22,0
347,3,116,0,0,0,23.5,0.187,23,0
348,3,99,62,19,74,21.8,0.279,26,0
349,5,0,80,32,0,41.0,0.346,37,1
350,4,92,80,0,0,42.2,0.237,29,0
351,4,137,84,0,0,31.2,0.252,30,0
352,3,61,82,28,0,34.4,0.243,46,0
353,1,90,62,12,43,27.2,0.580,24,0
354,3,90,78,0,0,42.7,0.559,21,0
355,9,165,88,0,0,30.4,0.302,49,1
356,1,125,50,40,167,33.3,0.962,28,1
357,13,129,0,30,0,39.9,0.569,44,1
358,12,88,74,40,54,35.3,0.378,48,0
359,1,196,76,36,249,36.5,0.875,29,1
360,5,189,64,33,325,31.2,0.583,29,1
361,5,158,70,0,0,29.8,0.207,63,0
362,5,103,108,37,0,39.2,0.305,65,0
363,4,146,78,0,0,38.5,0.520,67,1
364,4,147,74,25,293,34.9,0.385,30,0
365,5,99,54,28,83,34.0,0.499,30,0
366,6,124,72,0,0,27.6,0.368,29,1
367,0,101,64,17,0,21.0,0.252,21,0
368,3,81,86,16,66,27.5,0.306,22,0
369,1,133,102,28,140,32.8,0.234,45,1
370,3,173,82,48,465,38.4,2.137,25,1
371,0,118,64,23,89,0.0,1.731,21,0
372,0,84,64,22,66,35.8,0.545,21,0
373,2,105,58,40,94,34.9,0.225,25,0
374,2,122,52,43,158,36.2,0.816,28,0
375,12,140,82,43,325,39.2,0.528,58,1
376,0,98,82,15,84,25.2,0.299,22,0
377,1,87,60,37,75,37.2,0.509,22,0
378,4,156,75,0,0,48.3,0.238,32,1
379,0,93,100,39,72,43.4,1.021,35,0
380,1,107,72,30,82,30.8,0.821,24,0
381,0,105,68,22,0,20.0,0.236,22,0
382,1,109,60,8,182,25.4,0.947,21,0
383,1,90,62,18,59,25.1,1.268,25,0
384,1,125,70,24,110,24.3,0.221,25,0
385,1,119,54,13,50,22.3,0.205,24,0
386,5,116,74,29,0,32.3,0.660,35,1
387,8,105,100,36,0,43.3,0.239,45,1
388,5,144,82,26,285,32.0,0.452,58,1
389,3,100,68,23,81,31.6,0.949,28,0
390,1,100,66,29,196,32.0,0.444,42,0
391,5,166,76,0,0,45.7,0.340,27,1
392,1,131,64,14,415,23.7,0.389,21,0
393,4,116,72,12,87,22.1,0.463,37,0
394,4,158,78,0,0,32.9,0.803,31,1
395,2,127,58,24,275,27.7,1.600,25,0
396,3,96,56,34,115,24.7,0.944,39,0
397,0,131,66,40,0,34.3,0.196,22,1
398,3,82,70,0,0,21.1,0.389,25,0
399,3,193,70,31,0,34.9,0.241,25,1
400,4,95,64,0,0,32.0,0.161,31,1
401,6,137,61,0,0,24.2,0.151,55,0
402,5,136,84,41,88,35.0,0.286,35,1
403,9,72,78,25,0,31.6,0.280,38,0
404,5,168,64,0,0,32.9,0.135,41,1
405,2,123,48,32,165,42.1,0.520,26,0
406,4,115,72,0,0,28.9,0.376,46,1
407,0,101,62,0,0,21.9,0.336,25,0
408,8,197,74,0,0,25.9,1.191,39,1
409,1,172,68,49,579,42.4,0.702,28,1
410,6,102,90,39,0,35.7,0.674,28,0
411,1,112,72,30,176,34.4,0.528,25,0
412,1,143,84,23,310,42.4,1.076,22,0
413,1,143,74,22,61,26.2,0.256,21,0
414,0,138,60,35,167,34.6,0.534,21,1
415,3,173,84,33,474,35.7,0.258,22,1
416,1,97,68,21,0,27.2,1.095,22,0
417,4,144,82,32,0,38.5,0.554,37,1
418,1,83,68,0,0,18.2,0.624,27,0
419,3,129,64,29,115,26.4,0.219,28,1
420,1,119,88,41,170,45.3,0.507,26,0
421,2,94,68,18,76,26.0,0.561,21,0
422,0,102,64,46,78,40.6,0.496,21,0
423,2,115,64,22,0,30.8,0.421,21,0
424,8,151,78,32,210,42.9,0.516,36,1
425,4,184,78,39,277,37.0,0.264,31,1
426,0,94,0,0,0,0.0,0.256,25,0
427,1,181,64,30,180,34.1,0.328,38,1
428,0,135,94,46,145,40.6,0.284,26,0
429,1,95,82,25,180,35.0,0.233,43,1
430,2,99,0,0,0,22.2,0.108,23,0
431,3,89,74,16,85,30.4,0.551,38,0
432,1,80,74,11,60,30.0,0.527,22,0
433,2,139,75,0,0,25.6,0.167,29,0
434,1,90,68,8,0,24.5,1.138,36,0
435,0,141,0,0,0,42.4,0.205,29,1
436,12,140,85,33,0,37.4,0.244,41,0
437,5,147,75,0,0,29.9,0.434,28,0
438,1,97,70,15,0,18.2,0.147,21,0
439,6,107,88,0,0,36.8,0.727,31,0
440,0,189,104,25,0,34.3,0.435,41,1
441,2,83,66,23,50,32.2,0.497,22,0
442,4,117,64,27,120,33.2,0.230,24,0
443,8,108,70,0,0,30.5,0.955,33,1
444,4,117,62,12,0,29.7,0.380,30,1
445,0,180,78,63,14,59.4,2.420,25,1
446,1,100,72,12,70,25.3,0.658,28,0
447,0,95,80,45,92,36.5,0.330,26,0
448,0,104,64,37,64,33.6,0.510,22,1
449,0,120,74,18,63,30.5,0.285,26,0
450,1,82,64,13,95,21.2,0.415,23,0
451,2,134,70,0,0,28.9,0.542,23,1
452,0,91,68,32,210,39.9,0.381,25,0
453,2,119,0,0,0,19.6,0.832,72,0
454,2,100,54,28,105,37.8,0.498,24,0
455,14,175,62,30,0,33.6,0.212,38,1
456,1,135,54,0,0,26.7,0.687,62,0
457,5,86,68,28,71,30.2,0.364,24,0
458,10,148,84,48,237,37.6,1.001,51,1
459,9,134,74,33,60,25.9,0.460,81,0
460,9,120,72,22,56,20.8,0.733,48,0
461,1,71,62,0,0,21.8,0.416,26,0
462,8,74,70,40,49,35.3,0.705,39,0
463,5,88,78,30,0,27.6,0.258,37,0
464,10,115,98,0,0,24.0,1.022,34,0
465,0,124,56,13,105,21.8,0.452,21,0
466,0,74,52,10,36,27.8,0.269,22,0
467,0,97,64,36,100,36.8,0.600,25,0
468,8,120,0,0,0,30.0,0.183,38,1
469,6,154,78,41,140,46.1,0.571,27,0
470,1,144,82,40,0,41.3,0.607,28,0
471,0,137,70,38,0,33.2,0.170,22,0
472,0,119,66,27,0,38.8,0.259,22,0
473,7,136,90,0,0,29.9,0.210,50,0
474,4,114,64,0,0,28.9,0.126,24,0
475,0,137,84,27,0,27.3,0.231,59,0
476,2,105,80,45,191,33.7,0.711,29,1
477,7,114,76,17,110,23.8,0.466,31,0
478,8,126,74,38,75,25.9,0.162,39,0
479,4,132,86,31,0,28.0,0.419,63,0
480,3,158,70,30,328,35.5,0.344,35,1
481,0,123,88,37,0,35.2,0.197,29,0
482,4,85,58,22,49,27.8,0.306,28,0
483,0,84,82,31,125,38.2,0.233,23,0
484,0,145,0,0,0,44.2,0.630,31,1
485,0,135,68,42,250,42.3,0.365,24,1
486,1,139,62,41,480,40.7,0.536,21,0
487,0,173,78,32,265,46.5,1.159,58,0
488,4,99,72,17,0,25.6,0.294,28,0
489,8,194,80,0,0,26.1,0.551,67,0
490,2,83,65,28,66,36.8,0.629,24,0
491,2,89,90,30,0,33.5,0.292,42,0
492,4,99,68,38,0,32.8,0.145,33,0
493,4,125,70,18,122,28.9,1.144,45,1
494,3,80,0,0,0,0.0,0.174,22,0
495,6,166,74,0,0,26.6,0.304,66,0
496,5,110,68,0,0,26.0,0.292,30,0
497,2,81,72,15,76,30.1,0.547,25,0
498,7,195,70,33,145,25.1,0.163,55,1
499,6,154,74,32,193,29.3,0.839,39,0

to display the result box better or shrink to fit the results in the result box, we can do the follow

In [23]:
pd.set_option("display.width",500)

In [24]:
df[0:500]

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148             72             35        0  33.6                     0.627   50        1
1              1       85             66             29        0  26.6                     0.351   31        0
2              8      183             64              0        0  23.3                     0.672   32        1
3              1       89             66             23       94  28.1                     0.167   21        0
4              0      137             40             35      168  43.1                     2.288   33        1
5              5      116             74              0        0  25.6                     0.201   30        0
6              3       78             50             32       88  31.0                     0.248   26        1
7             10      115              0              0        0  35.3                     0.134   29        0
8              2      197             70             45      543  30.5                     0.158   53        1
9              8      125             96              0        0   0.0                     0.232   54        1
10             4      110             92              0        0  37.6                     0.191   30        0
11            10      168             74              0        0  38.0                     0.537   34        1
12            10      139             80              0        0  27.1                     1.441   57        0
13             1      189             60             23      846  30.1                     0.398   59        1
14             5      166             72             19      175  25.8                     0.587   51        1
15             7      100              0              0        0  30.0                     0.484   32        1
16             0      118             84             47      230  45.8                     0.551   31        1
17             7      107             74              0        0  29.6                     0.254   31        1
18             1      103             30             38       83  43.3                     0.183   33        0
19             1      115             70             30       96  34.6                     0.529   32        1
20             3      126             88             41      235  39.3                     0.704   27        0
21             8       99             84              0        0  35.4                     0.388   50        0
22             7      196             90              0        0  39.8                     0.451   41        1
23             9      119             80             35        0  29.0                     0.263   29        1
24            11      143             94             33      146  36.6                     0.254   51        1
25            10      125             70             26      115  31.1                     0.205   41        1
26             7      147             76              0        0  39.4                     0.257   43        1
27             1       97             66             15      140  23.2                     0.487   22        0
28            13      145             82             19      110  22.2                     0.245   57        0
29             5      117             92              0        0  34.1                     0.337   38        0
30             5      109             75             26        0  36.0                     0.546   60        0
31             3      158             76             36      245  31.6                     0.851   28        1
32             3       88             58             11       54  24.8                     0.267   22        0
33             6       92             92              0        0  19.9                     0.188   28        0
34            10      122             78             31        0  27.6                     0.512   45        0
35             4      103             60             33      192  24.0                     0.966   33        0
36            11      138             76              0        0  33.2                     0.420   35        0
37             9      102             76             37        0  32.9                     0.665   46        1
38             2       90             68             42        0  38.2                     0.503   27        1
39             4      111             72             47      207  37.1                     1.390   56        1
40             3      180             64             25       70  34.0                     0.271   26        0
41             7      133             84              0        0  40.2                     0.696   37        0
42             7      106             92             18        0  22.7                     0.235   48        0
43             9      171            110             24      240  45.4                     0.721   54        1
44             7      159             64              0        0  27.4                     0.294   40        0
45             0      180             66             39        0  42.0                     1.893   25        1
46             1      146             56              0        0  29.7                     0.564   29        0
47             2       71             70             27        0  28.0                     0.586   22        0
48             7      103             66             32        0  39.1                     0.344   31        1
49             7      105              0              0        0   0.0                     0.305   24        0
50             1      103             80             11       82  19.4                     0.491   22        0
51             1      101             50             15       36  24.2                     0.526   26        0
52             5       88             66             21       23  24.4                     0.342   30        0
53             8      176             90             34      300  33.7                     0.467   58        1
54             7      150             66             42      342  34.7                     0.718   42        0
55             1       73             50             10        0  23.0                     0.248   21        0
56             7      187             68             39      304  37.7                     0.254   41        1
57             0      100             88             60      110  46.8                     0.962   31        0
58             0      146             82              0        0  40.5                     1.781   44        0
59             0      105             64             41      142  41.5                     0.173   22        0
60             2       84              0              0        0   0.0                     0.304   21        0
61             8      133             72              0        0  32.9                     0.270   39        1
62             5       44             62              0        0  25.0                     0.587   36        0
63             2      141             58             34      128  25.4                     0.699   24        0
64             7      114             66              0        0  32.8                     0.258   42        1
65             5       99             74             27        0  29.0                     0.203   32        0
66             0      109             88             30        0  32.5                     0.855   38        1
67             2      109             92              0        0  42.7                     0.845   54        0
68             1       95             66             13       38  19.6                     0.334   25        0
69             4      146             85             27      100  28.9                     0.189   27        0
70             2      100             66             20       90  32.9                     0.867   28        1
71             5      139             64             35      140  28.6                     0.411   26        0
72            13      126             90              0        0  43.4                     0.583   42        1
73             4      129             86             20      270  35.1                     0.231   23        0
74             1       79             75             30        0  32.0                     0.396   22        0
75             1        0             48             20        0  24.7                     0.140   22        0
76             7       62             78              0        0  32.6                     0.391   41        0
77             5       95             72             33        0  37.7                     0.370   27        0
78             0      131              0              0        0  43.2                     0.270   26        1
79             2      112             66             22        0  25.0                     0.307   24        0
80             3      113             44             13        0  22.4                     0.140   22        0
81             2       74              0              0        0   0.0                     0.102   22        0
82             7       83             78             26       71  29.3                     0.767   36        0
83             0      101             65             28        0  24.6                     0.237   22        0
84             5      137            108              0        0  48.8                     0.227   37        1
85             2      110             74             29      125  32.4                     0.698   27        0
86            13      106             72             54        0  36.6                     0.178   45        0
87             2      100             68             25       71  38.5                     0.324   26        0
88            15      136             70             32      110  37.1                     0.153   43        1
89             1      107             68             19        0  26.5                     0.165   24        0
90             1       80             55              0        0  19.1                     0.258   21        0
91             4      123             80             15      176  32.0                     0.443   34        0
92             7       81             78             40       48  46.7                     0.261   42        0
93             4      134             72              0        0  23.8                     0.277   60        1
94             2      142             82             18       64  24.7                     0.761   21        0
95             6      144             72             27      228  33.9                     0.255   40        0
96             2       92             62             28        0  31.6                     0.130   24        0
97             1       71             48             18       76  20.4                     0.323   22        0
98             6       93             50             30       64  28.7                     0.356   23        0
99             1      122             90             51      220  49.7                     0.325   31        1
100            1      163             72              0        0  39.0                     1.222   33        1
101            1      151             60              0        0  26.1                     0.179   22        0
102            0      125             96              0        0  22.5                     0.262   21        0
103            1       81             72             18       40  26.6                     0.283   24        0
104            2       85             65              0        0  39.6                     0.930   27        0
105            1      126             56             29      152  28.7                     0.801   21        0
106            1       96            122              0        0  22.4                     0.207   27        0
107            4      144             58             28      140  29.5                     0.287   37        0
108            3       83             58             31       18  34.3                     0.336   25        0
109            0       95             85             25       36  37.4                     0.247   24        1
110            3      171             72             33      135  33.3                     0.199   24        1
111            8      155             62             26      495  34.0                     0.543   46        1
112            1       89             76             34       37  31.2                     0.192   23        0
113            4       76             62              0        0  34.0                     0.391   25        0
114            7      160             54             32      175  30.5                     0.588   39        1
115            4      146             92              0        0  31.2                     0.539   61        1
116            5      124             74              0        0  34.0                     0.220   38        1
117            5       78             48              0        0  33.7                     0.654   25        0
118            4       97             60             23        0  28.2                     0.443   22        0
119            4       99             76             15       51  23.2                     0.223   21        0
120            0      162             76             56      100  53.2                     0.759   25        1
121            6      111             64             39        0  34.2                     0.260   24        0
122            2      107             74             30      100  33.6                     0.404   23        0
123            5      132             80              0        0  26.8                     0.186   69        0
124            0      113             76              0        0  33.3                     0.278   23        1
125            1       88             30             42       99  55.0                     0.496   26        1
126            3      120             70             30      135  42.9                     0.452   30        0
127            1      118             58             36       94  33.3                     0.261   23        0
128            1      117             88             24      145  34.5                     0.403   40        1
129            0      105             84              0        0  27.9                     0.741   62        1
130            4      173             70             14      168  29.7                     0.361   33        1
131            9      122             56              0        0  33.3                     1.114   33        1
132            3      170             64             37      225  34.5                     0.356   30        1
133            8       84             74             31        0  38.3                     0.457   39        0
134            2       96             68             13       49  21.1                     0.647   26        0
135            2      125             60             20      140  33.8                     0.088   31        0
136            0      100             70             26       50  30.8                     0.597   21        0
137            0       93             60             25       92  28.7                     0.532   22        0
138            0      129             80              0        0  31.2                     0.703   29        0
139            5      105             72             29      325  36.9                     0.159   28        0
140            3      128             78              0        0  21.1                     0.268   55        0
141            5      106             82             30        0  39.5                     0.286   38        0
142            2      108             52             26       63  32.5                     0.318   22        0
143           10      108             66              0        0  32.4                     0.272   42        1
144            4      154             62             31      284  32.8                     0.237   23        0
145            0      102             75             23        0   0.0                     0.572   21        0
146            9       57             80             37        0  32.8                     0.096   41        0
147            2      106             64             35      119  30.5                     1.400   34        0
148            5      147             78              0        0  33.7                     0.218   65        0
149            2       90             70             17        0  27.3                     0.085   22        0
150            1      136             74             50      204  37.4                     0.399   24        0
151            4      114             65              0        0  21.9                     0.432   37        0
152            9      156             86             28      155  34.3                     1.189   42        1
153            1      153             82             42      485  40.6                     0.687   23        0
154            8      188             78              0        0  47.9                     0.137   43        1
155            7      152             88             44        0  50.0                     0.337   36        1
156            2       99             52             15       94  24.6                     0.637   21        0
157            1      109             56             21      135  25.2                     0.833   23        0
158            2       88             74             19       53  29.0                     0.229   22        0
159           17      163             72             41      114  40.9                     0.817   47        1
160            4      151             90             38        0  29.7                     0.294   36        0
161            7      102             74             40      105  37.2                     0.204   45        0
162            0      114             80             34      285  44.2                     0.167   27        0
163            2      100             64             23        0  29.7                     0.368   21        0
164            0      131             88              0        0  31.6                     0.743   32        1
165            6      104             74             18      156  29.9                     0.722   41        1
166            3      148             66             25        0  32.5                     0.256   22        0
167            4      120             68              0        0  29.6                     0.709   34        0
168            4      110             66              0        0  31.9                     0.471   29        0
169            3      111             90             12       78  28.4                     0.495   29        0
170            6      102             82              0        0  30.8                     0.180   36        1
171            6      134             70             23      130  35.4                     0.542   29        1
172            2       87              0             23        0  28.9                     0.773   25        0
173            1       79             60             42       48  43.5                     0.678   23        0
174            2       75             64             24       55  29.7                     0.370   33        0
175            8      179             72             42      130  32.7                     0.719   36        1
176            6       85             78              0        0  31.2                     0.382   42        0
177            0      129            110             46      130  67.1                     0.319   26        1
178            5      143             78              0        0  45.0                     0.190   47        0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [72]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [26]:
df.describe()

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin         BMI  DiabetesPedigreeFunction         Age     Outcome
count   768.000000  768.000000     768.000000     768.000000  768.000000  768.000000                768.000000  768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479   31.992578                  0.471876   33.240885    0.348958
std       3.369578   31.972618      19.355807      15.952218  115.244002    7.884160                  0.331329   11.760232    0.476951
min       0.000000    0.000000       0.000000       0.000000    0.000000    0.000000                  0.078000   21.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000   27.300000                  0.243750   24.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000   32.000000                  0.372500   29.000000    0.000000
75%       6.000000  140.250000      80.000000      32.000000  127.250000   36.600000                  0.626250   41.000000    1.000000
max      17.000000  199.000000     122.000000      99.000000  846.000000   67.100000                  2.420000   81.000000    1.000000

# To check the shape of the dataframe

In [27]:
df.shape

(768, 9)

To preview the column names:

In [28]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'], dtype='object')

In [29]:
df.Pregnancies.unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14],
      dtype=int64)

In [31]:
df.Outcome.unique()

array([1, 0], dtype=int64)

In [32]:
df.Age.unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [42]:
df.Outcome.value_counts()  #Return a Series containing counts of unique values.

0    500
1    268
Name: Outcome, dtype: int64

In [30]:
df.Pregnancies	.value_counts(normalize = True) #Return a Series containing counts of unique values.
                                                #The resulting object will be in descending order so 
                                                #that the first element is the most frequently-occurring element.
                                                #Excludes NA values by default.

1     0.175781
0     0.144531
2     0.134115
3     0.097656
4     0.088542
5     0.074219
6     0.065104
7     0.058594
8     0.049479
9     0.036458
10    0.031250
11    0.014323
13    0.013021
12    0.011719
14    0.002604
15    0.001302
17    0.001302
Name: Pregnancies, dtype: float64

In [44]:
df.Outcome.value_counts(normalize = True)   #normalise = true prints relative frequencies of those values

0    0.651042
1    0.348958
Name: Outcome, dtype: float64

In [47]:
df.Glucose.value_counts(sort = False)   #not in order

148    4
85     7
183    3
89     6
137    8
      ..
56     1
169    1
149    1
65     1
190    1
Name: Glucose, Length: 136, dtype: int64

In [55]:
df.Glucose.value_counts(sort = True)   h#order

99     17
100    17
111    14
129    14
125    14
       ..
191     1
177     1
44      1
62      1
190     1
Name: Glucose, Length: 136, dtype: int64

In [52]:
df.Glucose.value_counts(ascending = True)

190     1
177     1
182     1
178     1
61      1
       ..
111    14
106    14
125    14
100    17
99     17
Name: Glucose, Length: 136, dtype: int64

In [68]:
df["Age"]>35

0       True
1      False
2      False
3      False
4      False
       ...
763     True
764    False
765    False
766     True
767    False
Name: Age, Length: 768, dtype: bool

In [62]:
df.Age.astype(float)

0      50.0
1      31.0
2      32.0
3      21.0
4      33.0
       ...
763    63.0
764    27.0
765    30.0
766    47.0
767    23.0
Name: Age, Length: 768, dtype: float64

In [63]:
df.Age.astype(int)

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int32

In [64]:
df.sample(10)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
515            3      163             70             18      105  31.6                     0.268   28        1
544            1       88             78             29       76  32.0                     0.365   29        0
566            1       99             72             30       18  38.6                     0.412   21        0
701            6      125             78             31        0  27.6                     0.565   49        1
680            2       56             56             28       45  24.2                     0.332   22        0
708            9      164             78              0        0  32.8                     0.148   45        1
562            1       87             68             34       77  37.6                     0.401   24        0
444            4      117             62             12        0  29.7                     0.380   30        1
261            3      141              0              0        0  30.0                     0.761   27        1
532            1       86             66             52       65  41.3                     0.917   29        0

In [70]:
df.transpose()  # to change the rows into column and column into row

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3rd Class,1st Class,3rd Class,1st Class,3rd Class,3rd Class,1st Class,3rd Class,3rd Class,2nd Class,...,3rd Class,3rd Class,2nd Class,3rd Class,3rd Class,2nd Class,1st Class,3rd Class,1st Class,3rd Class
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
Status,major,major,major,major,major,major,major,minor,major,minor,...,major,major,major,major,major,major,major,major,major,major
Fare doubled,14.5,142.5666,15.85,106.2,16.1,16.9166,103.725,42.15,22.2666,60.1416,...,15.7916,21.0334,21.0,14.1,58.25,26.0,60.0,46.9,60.0,15.5

In [71]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Status,Fare doubled
0,1,0,3rd Class,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,major,14.5000
1,2,1,1st Class,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,major,142.5666
2,3,1,3rd Class,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,major,15.8500
3,4,1,1st Class,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,major,106.2000
4,5,0,3rd Class,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,major,16.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2nd Class,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,major,26.0000
887,888,1,1st Class,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,major,60.0000
888,889,0,3rd Class,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,major,46.9000
889,890,1,1st Class,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,major,60.0000
890,891,0,3rd Class,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,major,15.5000

In [67]:
df[["Age","Outcome"]]

     Age  Outcome
0     50        1
1     31        0
2     32        1
3     21        0
4     33        1
..   ...      ...
763   63        0
764   27        0
765   30        0
766   47        1
767   23        0

[768 rows x 2 columns]

# loc method:
loc and .iloc indexers also use the indexing operator to make selections.

In [73]:
df.loc[[5,7,12,14]]     ## it used to access the rows and columns.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Status,Fare doubled
5,6,0,3rd Class,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,major,16.9166
7,8,0,3rd Class,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,minor,42.1500
12,13,0,3rd Class,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,major,16.1000
14,15,0,3rd Class,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,minor,15.7084

In [69]:
df.loc[5:10]   #here it is called using index

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
5             5      116             74              0        0  25.6                     0.201   30        0
6             3       78             50             32       88  31.0                     0.248   26        1
7            10      115              0              0        0  35.3                     0.134   29        0
8             2      197             70             45      543  30.5                     0.158   53        1
9             8      125             96              0        0   0.0                     0.232   54        1
10            4      110             92              0        0  37.6                     0.191   30        0

In [80]:
df=pd.read_csv(r"C:\Users\ELCOT\Downloads\archive.zip",index_col="Age")  #index_col is used to change the index of the dataset

In [81]:
df

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Outcome
Age
50             6      148             72             35        0  33.6                     0.627        1
31             1       85             66             29        0  26.6                     0.351        0
32             8      183             64              0        0  23.3                     0.672        1
21             1       89             66             23       94  28.1                     0.167        0
33             0      137             40             35      168  43.1                     2.288        1
..           ...      ...            ...            ...      ...   ...                       ...      ...
63            10      101             76             48      180  32.9                     0.171        0
27             2      122             70             27        0  36.8                     0.340        0
30             5      121             72             23      112  26.2                     0.245        0
47             1      126             60              0        0  30.1                     0.349        1
23             1       93             70             31        0  30.4                     0.315        0

[768 rows x 8 columns]

In [84]:
df.loc[0:5]     #index wrong.key error.

KeyError: 0

In [86]:
df.iloc[0:5]

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Outcome
Age
50             6      148             72             35        0  33.6                     0.627        1
31             1       85             66             29        0  26.6                     0.351        0
32             8      183             64              0        0  23.3                     0.672        1
21             1       89             66             23       94  28.1                     0.167        0
33             0      137             40             35      168  43.1                     2.288        1

In [87]:
df.loc[50]    #uses exact index but iloc not

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Outcome
Age
50             6      148             72             35        0  33.6                     0.627        1
50             8       99             84              0        0  35.4                     0.388        0
50             7      136             90              0        0  29.9                     0.210        0
50             1      164             82             43       67  32.8                     0.341        0
50            11      138             74             26      144  36.1                     0.557        1
50             9      112             82             24        0  28.2                     1.282        1
50             6      147             80              0        0  29.5                     0.178        1
50             6      162             62              0        0  24.3                     0.178        1

In [89]:
df.iloc[0:5,0:3] #[rows,columns]

     Pregnancies  Glucose  BloodPressure
Age
50             6      148             72
31             1       85             66
32             8      183             64
21             1       89             66
33             0      137             40

In [97]:
df["Age"]=pd.to_numeric(df["Age"],errors="coerce")
df

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148             72             35        0  33.6                     0.627   50        1
1              1       85             66             29        0  26.6                     0.351   31        0
2              8      183             64              0        0  23.3                     0.672   32        1
3              1       89             66             23       94  28.1                     0.167   21        0
4              0      137             40             35      168  43.1                     2.288   33        1
..           ...      ...            ...            ...      ...   ...                       ...  ...      ...
763           10      101             76             48      180  32.9                     0.171   63        0
764            2      122             70             27        0  36.8                     0.340   27        0
765            5      121             72             23      112  26.2                     0.245   30        0
766            1      126             60              0        0  30.1                     0.349   47        1
767            1       93             70             31        0  30.4                     0.315   23        0

[768 rows x 9 columns]

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [75]:
df.drop(["Pclass"],axis = 1)  #remove a column in datasets

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Status,Fare doubled
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,major,14.5000
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,major,142.5666
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,major,15.8500
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,major,106.2000
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,major,16.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,major,26.0000
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,major,60.0000
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,major,46.9000
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,major,60.0000
890,891,0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,major,15.5000

In [103]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

In [104]:
df.duplicated().sum()

0

In [107]:
df.duplicated(subset=["Age","Pregnancies"]).sum()

476

In [108]:
df.drop_duplicates()

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148             72             35        0  33.6                     0.627   50        1
1              1       85             66             29        0  26.6                     0.351   31        0
2              8      183             64              0        0  23.3                     0.672   32        1
3              1       89             66             23       94  28.1                     0.167   21        0
4              0      137             40             35      168  43.1                     2.288   33        1
..           ...      ...            ...            ...      ...   ...                       ...  ...      ...
763           10      101             76             48      180  32.9                     0.171   63        0
764            2      122             70             27        0  36.8                     0.340   27        0
765            5      121             72             23      112  26.2                     0.245   30        0
766            1      126             60              0        0  30.1                     0.349   47        1
767            1       93             70             31        0  30.4                     0.315   23        0

[768 rows x 9 columns]

inplace = True used when some changes to be stored as default in original dataset.

if its not given changes will not be updated

In [109]:
df.rename(columns={"Age":"Vayasu"})

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Vayasu  Outcome
0              6      148             72             35        0  33.6                     0.627      50        1
1              1       85             66             29        0  26.6                     0.351      31        0
2              8      183             64              0        0  23.3                     0.672      32        1
3              1       89             66             23       94  28.1                     0.167      21        0
4              0      137             40             35      168  43.1                     2.288      33        1
..           ...      ...            ...            ...      ...   ...                       ...     ...      ...
763           10      101             76             48      180  32.9                     0.171      63        0
764            2      122             70             27        0  36.8                     0.340      27        0
765            5      121             72             23      112  26.2                     0.245      30        0
766            1      126             60              0        0  30.1                     0.349      47        1
767            1       93             70             31        0  30.4                     0.315      23        0

[768 rows x 9 columns]

In [110]:
df

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148             72             35        0  33.6                     0.627   50        1
1              1       85             66             29        0  26.6                     0.351   31        0
2              8      183             64              0        0  23.3                     0.672   32        1
3              1       89             66             23       94  28.1                     0.167   21        0
4              0      137             40             35      168  43.1                     2.288   33        1
..           ...      ...            ...            ...      ...   ...                       ...  ...      ...
763           10      101             76             48      180  32.9                     0.171   63        0
764            2      122             70             27        0  36.8                     0.340   27        0
765            5      121             72             23      112  26.2                     0.245   30        0
766            1      126             60              0        0  30.1                     0.349   47        1
767            1       93             70             31        0  30.4                     0.315   23        0

[768 rows x 9 columns]

In [113]:
df.rename(columns={"Age":"Vayasu"},inplace=True)
df

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Vayasu  Outcome
0              6      148             72             35        0  33.6                     0.627      50        1
1              1       85             66             29        0  26.6                     0.351      31        0
2              8      183             64              0        0  23.3                     0.672      32        1
3              1       89             66             23       94  28.1                     0.167      21        0
4              0      137             40             35      168  43.1                     2.288      33        1
..           ...      ...            ...            ...      ...   ...                       ...     ...      ...
763           10      101             76             48      180  32.9                     0.171      63        0
764            2      122             70             27        0  36.8                     0.340      27        0
765            5      121             72             23      112  26.2                     0.245      30        0
766            1      126             60              0        0  30.1                     0.349      47        1
767            1       93             70             31        0  30.4                     0.315      23        0

[768 rows x 9 columns]

In [5]:
df.sort_values(by = ["Age","Outcome"],ascending=[True,False])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
220,0,177,60,29,478,34.6,1.072,21,1
255,1,113,64,35,0,33.6,0.543,21,1
414,0,138,60,35,167,34.6,0.534,21,1
577,2,118,80,0,0,42.9,0.693,21,1
580,0,151,90,46,0,42.1,0.371,21,1
...,...,...,...,...,...,...,...,...,...
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0
666,4,145,82,18,0,32.5,0.235,70,1
453,2,119,0,0,0,19.6,0.832,72,0
459,9,134,74,33,60,25.9,0.460,81,0

In [118]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Vayasu                      0
Outcome                     0
dtype: int64

In [119]:
df.dropna()

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Vayasu  Outcome
0              6      148             72             35        0  33.6                     0.627      50        1
1              1       85             66             29        0  26.6                     0.351      31        0
2              8      183             64              0        0  23.3                     0.672      32        1
3              1       89             66             23       94  28.1                     0.167      21        0
4              0      137             40             35      168  43.1                     2.288      33        1
..           ...      ...            ...            ...      ...   ...                       ...     ...      ...
763           10      101             76             48      180  32.9                     0.171      63        0
764            2      122             70             27        0  36.8                     0.340      27        0
765            5      121             72             23      112  26.2                     0.245      30        0
766            1      126             60              0        0  30.1                     0.349      47        1
767            1       93             70             31        0  30.4                     0.315      23        0

[768 rows x 9 columns]

# Part_2

Treating missing values and apply functions

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Name': ['Evan', 'Kyra', 'Kate', 'Nik', np.NaN],
    'Age': [36, np.NaN, 33, 27, np.NaN],
    'Active': [True, False, np.NaN, True, np.NaN],
    'Country': ['USA', 'Canada', 'Canada', 'USA', np.NaN]})
     #'Missing': [np.NaN, np.NaN, np.NaN, np.NaN, np.NaN]})
df

   Name   Age Active Country
0  Evan  36.0   True     USA
1  Kyra   NaN  False  Canada
2  Kate  33.0    NaN  Canada
3   Nik  27.0   True     USA
4   NaN   NaN    NaN     NaN

To view the null values:

In [17]:
df.isnull().sum()

Name       1
Age        2
Active     2
Country    1
dtype: int64

In [18]:
df.dropna()

   Name   Age Active Country
0  Evan  36.0   True     USA
3   Nik  27.0   True     USA

In [80]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [90]:
df = pd.DataFrame({
    'Name': ['Evan', 'Kyra', 'Kate', 'Nik', np.NaN],
    'Age': [36, np.NaN, 33, 27, np.NaN],
    'Active': [True, False, np.NaN, True, np.NaN],
    'Country': ['USA', 'Canada', 'Canada', 'USA', np.NaN],
    'Missing': [np.NaN, np.NaN, np.NaN, np.NaN, np.NaN]})

df

   Name   Age Active Country  Missing
0  Evan  36.0   True     USA      NaN
1  Kyra   NaN  False  Canada      NaN
2  Kate  33.0    NaN  Canada      NaN
3   Nik  27.0   True     USA      NaN
4   NaN   NaN    NaN     NaN      NaN

In [78]:
df.dropna(subset = ['Age',"Active"])

   Name   Age Active Country  Missing
0  Evan  36.0   True     USA      NaN
3   Nik  27.0   True     USA      NaN

In [79]:
df.dropna(axis = 1,how = "all")

   Name   Age Active Country
0  Evan  36.0   True     USA
1  Kyra   NaN  False  Canada
2  Kate  33.0    NaN  Canada
3   Nik  27.0   True     USA
4   NaN   NaN    NaN     NaN

In [81]:
df.dropna(thresh = 3 )

   Name   Age Active Country  Missing
0  Evan  36.0   True     USA      NaN
1  Kyra   NaN  False  Canada      NaN
2  Kate  33.0    NaN  Canada      NaN
3   Nik  27.0   True     USA      NaN

In [24]:
df.dropna(axis = 1,thresh = 4)

   Name Country
0  Evan     USA
1  Kyra  Canada
2  Kate  Canada
3   Nik     USA
4   NaN     NaN

# Missing Data in DataFrames
    df.fillna(value=None, *, method=None, axis=None, inplace=False, limit=None, downcast=None)

In [93]:
df = pd.DataFrame({
    "Name": ['Alice', 'Bob', None, 'David', None, 'Fiona', 'George'],
    "Age": [25, None, 23, 35, None, 31, 28],
    "Gender": ['F', 'M', 'M', None, 'F', 'F', 'M'],
    "Years": [3, None, None, None, 7, None, 2]
})
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    NaN
2    None  23.0      M    NaN
3   David  35.0   None    NaN
4    None   NaN      F    7.0
5   Fiona  31.0      F    NaN
6  George  28.0      M    2.0

In [26]:
df.isna().sum()

Name      2
Age       2
Gender    1
Years     4
dtype: int64

In [27]:
df["Years"] = df["Years"].fillna(0)
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    0.0
2    None  23.0      M    0.0
3   David  35.0   None    0.0
4    None   NaN      F    7.0
5   Fiona  31.0      F    0.0
6  George  28.0      M    2.0

In [28]:
df["Age"].mean()

28.4

In [29]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob  28.4      M    0.0
2    None  23.0      M    0.0
3   David  35.0   None    0.0
4    None  28.4      F    7.0
5   Fiona  31.0      F    0.0
6  George  28.0      M    2.0

In [30]:
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob  28.4      M    0.0
2    None  23.0      M    0.0
3   David  35.0   None    0.0
4    None  28.4      F    7.0
5   Fiona  31.0      F    0.0
6  George  28.0      M    2.0

In [31]:
df["Gender"] = df["Gender"].fillna(" ")
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob  28.4      M    0.0
2    None  23.0      M    0.0
3   David  35.0           0.0
4    None  28.4      F    7.0
5   Fiona  31.0      F    0.0
6  George  28.0      M    2.0

In [86]:
df1 = df.fillna({"Name":"Missing","Age": df["Age"].mean(),"Years": 0})
df1

      Name   Age Gender  Years
0    Alice  25.0      F    3.0
1      Bob  28.4      M    0.0
2  Missing  23.0      M    0.0
3    David  35.0   None    0.0
4  Missing  28.4      F    7.0
5    Fiona  31.0      F    0.0
6   George  28.0      M    2.0

Forward fill:

In [87]:
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    NaN
2    None  23.0      M    NaN
3   David  35.0   None    NaN
4    None   NaN      F    7.0
5   Fiona  31.0      F    NaN
6  George  28.0      M    2.0

In [84]:
df["Age"] = df["Age"].fillna(method = "ffill")
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob  25.0      M    NaN
2    None  23.0      M    NaN
3   David  35.0   None    NaN
4    None  35.0      F    7.0
5   Fiona  31.0      F    NaN
6  George  28.0      M    2.0

In [83]:
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    NaN
2    None  23.0      M    NaN
3   David  35.0   None    NaN
4    None   NaN      F    7.0
5   Fiona  31.0      F    NaN
6  George  28.0      M    2.0

In [88]:
df["Years"] = df["Years"].fillna(method = "bfill",limit = 2)
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    NaN
2    None  23.0      M    7.0
3   David  35.0   None    7.0
4    None   NaN      F    7.0
5   Fiona  31.0      F    2.0
6  George  28.0      M    2.0

# What is the difference between fillna and dropna in Pandas?
Both fillna and dropna are methods for handling missing data in a Pandas DataFrame or Series, but they work differently. fillna replaces the missing values (NaN or None) with specified values, while dropna eliminates the rows or columns containing missing values. Generally, use fillna when you want to maintain the shape and size of your dataset while filling missing data. On the other hand, choose dropna when you prefer to remove data with missing values entirely.

# How can I use fillna to replace missing values with the mean, median, or mode of a column?
To fill missing values with the mean, median or mode of a column, simply pass the respective statistical measure as the ‘value’ parameter in the fillna method.

# Can I use fillna on a specific subset of columns or rows in my DataFrame?

Yes, you can apply fillna to a subset of columns or rows. To perform this action, use the DataFrame.loc function to select the subset you want to work on, and then apply fillna.

In [94]:
df

     Name   Age Gender  Years
0   Alice  25.0      F    3.0
1     Bob   NaN      M    NaN
2    None  23.0      M    NaN
3   David  35.0   None    NaN
4    None   NaN      F    7.0
5   Fiona  31.0      F    NaN
6  George  28.0      M    2.0

In [38]:
df.columns

Index(['Name', 'Age', 'Gender', 'Years'], dtype='object')

In [95]:
df.rename(columns = {"Years":"Year"},inplace = True)
df

     Name   Age Gender  Year
0   Alice  25.0      F   3.0
1     Bob   NaN      M   NaN
2    None  23.0      M   NaN
3   David  35.0   None   NaN
4    None   NaN      F   7.0
5   Fiona  31.0      F   NaN
6  George  28.0      M   2.0

In [96]:
df.rename(columns = {df.columns[0] : "Cus_Name"})

  Cus_Name   Age Gender  Year
0    Alice  25.0      F   3.0
1      Bob   NaN      M   NaN
2     None  23.0      M   NaN
3    David  35.0   None   NaN
4     None   NaN      F   7.0
5    Fiona  31.0      F   NaN
6   George  28.0      M   2.0

In [48]:
df = pd.DataFrame.from_dict({
    'Name': ['Jane', 'Melissa', 'John', 'Matt'],
    'Age': [23, 45, 35, 64],
    'Age Group': ['18-35', '35-50', '35-50', '65+'],
    'Birth City': ['London', 'Paris', 'Toronto', 'Atlanta'],
    'Gender': ['Female', 'Female', 'Male', 'Male']})
df

      Name  Age Age Group Birth City  Gender
0     Jane   23     18-35     London  Female
1  Melissa   45     35-50      Paris  Female
2     John   35     35-50    Toronto    Male
3     Matt   64       65+    Atlanta    Male

In [46]:
df.columns = [col.replace(" ","_").lower() for col in df.columns]
df

      name  age age_group birth_city  gender
0     Jane   23     18-35     London  Female
1  Melissa   45     35-50      Paris  Female
2     John   35     35-50    Toronto    Male
3     Matt   64       65+    Atlanta    Male

In [49]:
df

      Name  Age Age Group Birth City  Gender
0     Jane   23     18-35     London  Female
1  Melissa   45     35-50      Paris  Female
2     John   35     35-50    Toronto    Male
3     Matt   64       65+    Atlanta    Male

In [50]:
df.rename(mapper = str.lower, axis = 'columns')

      name  age age group birth city  gender
0     Jane   23     18-35     London  Female
1  Melissa   45     35-50      Paris  Female
2     John   35     35-50    Toronto    Male
3     Matt   64       65+    Atlanta    Male

In [51]:
df.rename(mapper=lambda x: x.replace(' ', '_').lower(), axis=1)

      name  age age_group birth_city  gender
0     Jane   23     18-35     London  Female
1  Melissa   45     35-50      Paris  Female
2     John   35     35-50    Toronto    Male
3     Matt   64       65+    Atlanta    Male

In [52]:
#Map
#Apply
#Applymap
#merge
#join
#concat

In [98]:
df = pd.read_csv(r"C:\Users\ELCOT\Downloads\titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [55]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [56]:
df["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [57]:
df["Pclass"] = df["Pclass"].map({3:"3rd Class",2:"2nd Class",1:"1st Class"})

In [58]:
df["Pclass"].unique()

array(['3rd Class', '1st Class', '2nd Class'], dtype=object)

In [59]:
def my_fun(x):
    if x <=18:
        return ("minor")
    else:
        return ("major")
df["Status"] = df.Age.map(my_fun)

In [60]:
df.loc[:,["Age","Status"]].sample(10)

      Age Status
740   NaN  major
351   NaN  major
598   NaN  major
309  30.0  major
489   9.0  minor
15   55.0  major
793   NaN  major
406  51.0  major
397  46.0  major
626  57.0  major

In [61]:
#Apply - Apply a function along an axis of the DataFrame.
#        Apply can be used for series or dataframe individually

In [62]:
df.apply(len)

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          891
Embarked       891
Status         891
dtype: int64

In [63]:
df.apply(len,axis = 1)

0      13
1      13
2      13
3      13
4      13
       ..
886    13
887    13
888    13
889    13
890    13
Length: 891, dtype: int64

In [64]:
fared = df["Fare"].head(10)
fared

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
5     8.4583
6    51.8625
7    21.0750
8    11.1333
9    30.0708
Name: Fare, dtype: float64

In [65]:
df["Fare doubled"] = df.Fare.apply(lambda x:2*x)

In [66]:
df.loc[:,["Fare","Fare doubled"]].head()

      Fare  Fare doubled
0   7.2500       14.5000
1  71.2833      142.5666
2   7.9250       15.8500
3  53.1000      106.2000
4   8.0500       16.1000

In [67]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Status,Fare doubled
0,1,0,3rd Class,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,major,14.5000
1,2,1,1st Class,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,major,142.5666
2,3,1,3rd Class,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,major,15.8500
3,4,1,1st Class,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,major,106.2000
4,5,0,3rd Class,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,major,16.1000

In [68]:
#applymap - Applymap is a dataframe method,used to apply functionn in the Dataframe

def addyear(text):
    return str(text) + "_2024"

In [99]:
df.apply(addyear)

PassengerId    0        1\n1        2\n2        3\n3        4...
Survived       0      0\n1      1\n2      1\n3      1\n4     ...
Pclass         0      3\n1      1\n2      3\n3      1\n4     ...
Name           0                                Braund, Mr. O...
Sex            0        male\n1      female\n2      female\n3...
Age            0      22.0\n1      38.0\n2      26.0\n3      ...
SibSp          0      1\n1      1\n2      0\n3      1\n4     ...
Parch          0      0\n1      0\n2      0\n3      0\n4     ...
Ticket         0             A/5 21171\n1              PC 175...
Fare           0       7.2500\n1      71.2833\n2       7.9250...
Cabin          0       NaN\n1       C85\n2       NaN\n3      ...
Embarked       0      S\n1      C\n2      S\n3      S\n4     ...
dtype: object

In [100]:
df.applymap(addyear)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1_2024,0_2024,3_2024,"Braund, Mr. Owen Harris_2024",male_2024,22.0_2024,1_2024,0_2024,A/5 21171_2024,7.25_2024,nan_2024,S_2024
1,2_2024,1_2024,1_2024,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female_2024,38.0_2024,1_2024,0_2024,PC 17599_2024,71.2833_2024,C85_2024,C_2024
2,3_2024,1_2024,3_2024,"Heikkinen, Miss. Laina_2024",female_2024,26.0_2024,0_2024,0_2024,STON/O2. 3101282_2024,7.925_2024,nan_2024,S_2024
3,4_2024,1_2024,1_2024,"Futrelle, Mrs. Jacques Heath (Lily May Peel)_2024",female_2024,35.0_2024,1_2024,0_2024,113803_2024,53.1_2024,C123_2024,S_2024
4,5_2024,0_2024,3_2024,"Allen, Mr. William Henry_2024",male_2024,35.0_2024,0_2024,0_2024,373450_2024,8.05_2024,nan_2024,S_2024
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887_2024,0_2024,2_2024,"Montvila, Rev. Juozas_2024",male_2024,27.0_2024,0_2024,0_2024,211536_2024,13.0_2024,nan_2024,S_2024
887,888_2024,1_2024,1_2024,"Graham, Miss. Margaret Edith_2024",female_2024,19.0_2024,0_2024,0_2024,112053_2024,30.0_2024,B42_2024,S_2024
888,889_2024,0_2024,3_2024,"Johnston, Miss. Catherine Helen ""Carrie""_2024",female_2024,nan_2024,1_2024,2_2024,W./C. 6607_2024,23.45_2024,nan_2024,S_2024
889,890_2024,1_2024,1_2024,"Behr, Mr. Karl Howell_2024",male_2024,26.0_2024,0_2024,0_2024,111369_2024,30.0_2024,C148_2024,C_2024
890,891_2024,0_2024,3_2024,"Dooley, Mr. Patrick_2024",male_2024,32.0_2024,0_2024,0_2024,370376_2024,7.75_2024,nan_2024,Q_2024

# Part_3

Pivot and Pivot table

PIvot function produces a pivot table based on 3 columns of the DataFrame. Uses unique values from the index/columns and fills them with values. Syntax: pandas.pivot(index, columns, values)

Parameters:

index[ndarray] : Labels to use to make new frame’s index columns[ndarray] : Labels to use to make new frame’s columns values[ndarray] : Values to use for populating new frame’s values Returns: Reshaped DataFrame Exception: ValueError raised if there are any duplicates.

In [62]:
data = {"Brand":["Tata","Tesla","Audi","BMW"],
        "Location":["india","US","germany","germany"],
        "Model":["Altroz","S","Q3","Z4"],
        "Sales":[100,75,84,92]}
df = pd.DataFrame(data)
df

   Brand Location   Model  Sales
0   Tata    india  Altroz    100
1  Tesla       US       S     75
2   Audi  germany      Q3     84
3    BMW  germany      Z4     92

In [58]:
df.set_index(["Brand","Model"])

             Location  Sales
Brand Model
Tata  Altroz    india    100
Tesla S            US     75
Audi  Q3      germany     84
BMW   Z4      germany     92

In [59]:
df.columns

Index(['Brand', 'Location', 'Model', 'Sales'], dtype='object')

In [60]:
df.pivot(index = 'Brand',columns = 'Model',values = "Sales")

Model  Altroz    Q3     S    Z4
Brand
Audi      NaN  84.0   NaN   NaN
BMW       NaN   NaN   NaN  92.0
Tata    100.0   NaN   NaN   NaN
Tesla     NaN   NaN  75.0   NaN

In [63]:
df.pivot(index = 'Brand',columns = "Location",values = "Sales").fillna(0)

Location    US  germany  india
Brand
Audi       0.0     84.0    0.0
BMW        0.0     92.0    0.0
Tata       0.0      0.0  100.0
Tesla     75.0      0.0    0.0

In [65]:
data1 = {"Brand":["Tata","Tesla","Audi","BMW","Tesla"],"Location":["india","US","germany","germany","US"],"Model":["Altroz","S","Q3","Z4","3"],
       "Sales":[100,75,84,92,40]}
df1=pd.DataFrame(data1)
df1

   Brand Location   Model  Sales
0   Tata    india  Altroz    100
1  Tesla       US       S     75
2   Audi  germany      Q3     84
3    BMW  germany      Z4     92
4  Tesla       US       3     40

In [115]:
df1.pivot(index ="Brand",columns = "Location",values ="Sales")

ValueError: Index contains duplicate entries, cannot reshape

In [66]:
df1.pivot_table(index ="Brand",columns = "Location",values = "Sales").fillna(0)

Location    US  germany  india
Brand
Audi       0.0     84.0    0.0
BMW        0.0     92.0    0.0
Tata       0.0      0.0  100.0
Tesla     57.5      0.0    0.0

In [72]:
a= 75+40
b =115/2 
print(a,b)


import numpy as np
np.mean((75,40))

115 57.5

57.5

In [116]:
df1.pivot_table(index = "Brand",columns = "Location",values ="Sales").fillna(0)

Location    US  germany  india
Brand
Audi       0.0     84.0    0.0
BMW        0.0     92.0    0.0
Tata       0.0      0.0  100.0
Tesla     57.5      0.0    0.0

In [117]:
(75+40)/2

57.5

Parameters
----------
values : column to aggregate, optional

index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.

columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.

aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions.

fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).

margins : bool, default False
    Add all row / columns (e.g. for subtotal / grand totals).

dropna : bool, default True
    Do not include columns whose entries are all NaN.


margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

sort : bool, default True
    Specifies if the result should be sorted.

Returns
-------
DataFrame
    An Excel style pivot table.

In [73]:
df1.pivot_table(index = "Brand",columns = "Location",values = ["Sales"],aggfunc = {"Sales":"sum"},margins=True).fillna(0)

          Sales
Location     US germany  india  All
Brand
Audi        0.0    84.0    0.0   84
BMW         0.0    92.0    0.0   92
Tata        0.0     0.0  100.0  100
Tesla     115.0     0.0    0.0  115
All       115.0   176.0  100.0  391

In [74]:
data2 = {"Brand":["Tata","Tesla","Audi","BMW","Tesla","Tesla","BMW"],"Location":["india","US","germany","germany","US","US","India"],"Model":["Altroz","S","Q3","Z4","3","X","M3"],
       "Sales":[100,75,84,92,40,33,2]}

In [75]:
df2 = pd.DataFrame(data2)
df2

   Brand Location   Model  Sales
0   Tata    india  Altroz    100
1  Tesla       US       S     75
2   Audi  germany      Q3     84
3    BMW  germany      Z4     92
4  Tesla       US       3     40
5  Tesla       US       X     33
6    BMW    India      M3      2

In [76]:
df2.pivot_table(index = "Location",columns = "Brand",values = ["Model","Sales"],aggfunc = {"Model": "count","Sales":"sum"}).fillna(0)

         Model                 Sales
Brand     Audi  BMW Tata Tesla  Audi   BMW   Tata  Tesla
Location
India      0.0  1.0  0.0   0.0   0.0   2.0    0.0    0.0
US         0.0  0.0  0.0   3.0   0.0   0.0    0.0  148.0
germany    1.0  1.0  0.0   0.0  84.0  92.0    0.0    0.0
india      0.0  0.0  1.0   0.0   0.0   0.0  100.0    0.0

In [81]:
df2.pivot_table(index = "Location",columns = "Brand",values = ["Model","Sales"],aggfunc = {"Model": "min","Sales":"min"},fill_value= 'no data')

            Model                               Sales                    \
Brand        Audi      BMW     Tata    Tesla     Audi      BMW     Tata
Location
India     no data       M3  no data  no data  no data      2.0  no data
US        no data  no data  no data        3  no data  no data  no data
germany        Q3       Z4  no data  no data     84.0     92.0  no data
india     no data  no data   Altroz  no data  no data  no data    100.0


Brand       Tesla
Location
India     no data
US           33.0
germany   no data
india     no data

In [124]:
#with Multiple index
df2.pivot_table(index = ["Brand","Model"],columns = "Location",values = ["Model","Sales"],aggfunc = {"Model":"min","Sales":"sum"}).fillna(0)

             Model                    Sales
Location     India US germany   india India    US germany  india
Brand Model
Audi  Q3         0  0      Q3       0   0.0   0.0    84.0    0.0
BMW   M3        M3  0       0       0   2.0   0.0     0.0    0.0
      Z4         0  0      Z4       0   0.0   0.0    92.0    0.0
Tata  Altroz     0  0       0  Altroz   0.0   0.0     0.0  100.0
Tesla 3          0  3       0       0   0.0  40.0     0.0    0.0
      S          0  S       0       0   0.0  75.0     0.0    0.0
      X          0  X       0       0   0.0  33.0     0.0    0.0

In [82]:
tt_df = pd.read_csv(r"C:\Users\ELCOT\Downloads\titanic.csv")
tt_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [126]:
tt_df.Age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [83]:
tt_df.Survived.unique()

array([0, 1], dtype=int64)

In [128]:
tt_df.pivot_table(index = "Pclass",columns = "Survived",values = "Age")     #default aggfunc is mean.hence the answer is the mean value

Survived          0          1
Pclass
1         43.695312  35.368197
2         33.544444  25.901566
3         26.555556  20.646118

In [129]:
tt_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [130]:
#eldest passenger survival based on Pclass
tt_df.pivot_table(index = "Pclass",columns = "Survived",values = ["Age","Name"],aggfunc = "max")

           Age                               Name  \
Survived     0     1                            0
Pclass
1         71.0  80.0           Wright, Mr. George
2         70.0  62.0    del Carlo, Mr. Sebastiano
3         74.0  63.0  van Melkebeke, Mr. Philemon


Survived                             1
Pclass
1             Young, Miss. Marie Grice
2         Williams, Mr. Charles Eugene
3              de Mulder, Mr. Theodore

# Part 4

Timeseries

In [96]:
import pandas as pd

df = pd.DataFrame(
    {'Name': ['Jane', 'Melissa', 'John', 'Matt'],
    'Arrival Date': ['2021-08-01', '2021-04-24', '2021-09-30', '2021-07-13'],
    'Stay Length': [12, 15, 7, 6]})
df

      Name Arrival Date  Stay Length
0     Jane   2021-08-01           12
1  Melissa   2021-04-24           15
2     John   2021-09-30            7
3     Matt   2021-07-13            6

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4 non-null      object
 1   Arrival Date  4 non-null      object
 2   Stay Length   4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [98]:
df["Arrival Date"] = pd.to_datetime(df["Arrival Date"])
df

      Name Arrival Date  Stay Length
0     Jane   2021-08-01           12
1  Melissa   2021-04-24           15
2     John   2021-09-30            7
3     Matt   2021-07-13            6

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4 non-null      object
 1   Arrival Date  4 non-null      datetime64[ns]
 2   Stay Length   4 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 224.0+ bytes

Timedelta

    * 'W', or 'D'
    * 'days', or 'day'
    * 'hours', 'hour', 'hr', or 'h'
    * 'minutes', 'minute', 'min', or 'm'
    * 'seconds', 'second', 'sec', or 's'
    * 'milliseconds', 'millisecond', 'millis', 'milli', or 'ms'
    * 'microseconds', 'microsecond', 'micros', 'micro', or 'us'
    * 'nanoseconds', 'nanosecond', 'nanos', 'nano', or 'ns'.

In [102]:
df["departure Date"] = df["Arrival Date"] + pd.to_timedelta(df["Stay Length"] , unit = "Days")
df

      Name Arrival Date  Stay Length departure Date Two weeks later
0     Jane   2021-08-01           12     2021-08-13      2021-08-15
1  Melissa   2021-04-24           15     2021-05-09      2021-05-08
2     John   2021-09-30            7     2021-10-07      2021-10-14
3     Matt   2021-07-13            6     2021-07-19      2021-07-27

In [101]:
df["Two weeks later"] = df["Arrival Date"] +pd.Timedelta(weeks = 2)
df

      Name Arrival Date  Stay Length departure Date Two weeks later
0     Jane   2021-08-01           12     2021-08-13      2021-08-15
1  Melissa   2021-04-24           15     2021-05-09      2021-05-08
2     John   2021-09-30            7     2021-10-07      2021-10-14
3     Matt   2021-07-13            6     2021-07-19      2021-07-27

In [103]:
import pandas as pd
ufo = pd.read_csv(r"C:\Users\ELCOT\Downloads\ufo.csv")
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [104]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80543 entries, 0 to 80542
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             80496 non-null  object
 1   Colors Reported  17034 non-null  object
 2   Shape Reported   72141 non-null  object
 3   State            80543 non-null  object
 4   Time             80543 non-null  object
dtypes: object(5)
memory usage: 3.1+ MB

In [105]:
ufo["Time"]=pd.to_datetime(ufo["Time"])
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [106]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80543 entries, 0 to 80542
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             80496 non-null  object
 1   Colors Reported  17034 non-null  object
 2   Shape Reported   72141 non-null  object
 3   State            80543 non-null  object
 4   Time             80543 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 3.1+ MB

monday->0

tuesday->1

wednesday->2

thursday->3

friday->4

saturday->5

sunday->6

In [16]:
ufo['Time']. dt.weekday.sample(10)

26616    1
73211    3
7352     2
14325    5
69997    5
2909     6
70607    2
1996     2
68667    6
69256    4
Name: Time, dtype: int64

In [8]:
ufo["Time"].dt.date

0        1930-06-01
1        1930-06-30
2        1931-02-15
3        1931-06-01
4        1933-04-18
            ...
80538    2014-09-04
80539    2014-09-05
80540    2014-09-05
80541    2014-09-05
80542    2014-09-05
Name: Time, Length: 80543, dtype: object

In [9]:
ufo["Time"].dt.dayofyear

0        152
1        181
2         46
3        152
4        108
        ...
80538    247
80539    248
80540    248
80541    248
80542    248
Name: Time, Length: 80543, dtype: int64

In [10]:
ufo["Time"].dt.minute.sample(10)

9362     30
60451    13
50909     0
29031     0
74373    15
38999     0
72814     0
40243    30
41182    55
7381      0
Name: Time, dtype: int64

In [13]:
ufo["Time"].dt.day_name()

0          Sunday
1          Monday
2          Sunday
3          Monday
4         Tuesday
           ...
80538    Thursday
80539      Friday
80540      Friday
80541      Friday
80542      Friday
Name: Time, Length: 80543, dtype: object

In [26]:
current_date = pd.Timestamp.now()
print("Current date:",  current_date)

Current date: 2024-03-23 08:20:16.602769

In [109]:
ts=pd.to_datetime("1.1.1999 4:45:34")
ts

Timestamp('1999-01-01 04:45:34')

In [114]:
ufo.loc[ufo["Time"] >= ts]

,City,Colors Reported,Shape Reported,State,Time
12834,Florence,NaN,CYLINDER,SC,1999-01-01 14:00:00
12835,Lake Henshaw,NaN,CIGAR,CA,1999-01-01 15:00:00
12836,Wilmington Island,NaN,LIGHT,GA,1999-01-01 17:15:00
12837,DeWitt,NaN,LIGHT,AR,1999-01-01 18:00:00
12838,Bainbridge Island,NaN,NaN,WA,1999-01-01 19:12:00
...,...,...,...,...,...
80538,Neligh,NaN,CIRCLE,NE,2014-09-04 23:20:00
80539,Uhrichsville,NaN,LIGHT,OH,2014-09-05 01:14:00
80540,Tucson,RED BLUE,NaN,AZ,2014-09-05 02:40:00
80541,Orland park,RED,LIGHT,IL,2014-09-05 03:43:00
80542,Loughman,NaN,LIGHT,FL,2014-09-05 05:30:00

In [34]:
ufo.loc[2:5,["City","Colors Reported"]]

                   City Colors Reported
2               Holyoke             NaN
3               Abilene             NaN
4  New York Worlds Fair             NaN
5           Valley City             NaN

# Introduction to string concat,split and extract

Columns many times contain string data.

And, string data may always not be in best of their hygine.

Pandas provide rich api's to make task easier using .str functions.

In [115]:
str_df = pd.read_csv(r"C:\Users\ELCOT\Downloads\titanic.csv")
str_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [116]:
str_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [117]:
df=str_df[["Name","Ticket","Fare"]][:10]
df

,Name,Ticket,Fare
0,"Braund, Mr. Owen Harris",A/5 21171,7.2500
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,71.2833
2,"Heikkinen, Miss. Laina",STON/O2. 3101282,7.9250
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,53.1000
4,"Allen, Mr. William Henry",373450,8.0500
5,"Moran, Mr. James",330877,8.4583
6,"McCarthy, Mr. Timothy J",17463,51.8625
7,"Palsson, Master. Gosta Leonard",349909,21.0750
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",347742,11.1333
9,"Nasser, Mrs. Nicholas (Adele Achem)",237736,30.0708

In [118]:
df["Ticket"].str.cat()#(sep = "***")

'A/5 21171PC 17599STON/O2. 310128211380337345033087717463349909347742237736'

In [56]:
df["Ticket"].str.cat(sep = "***")

'A/5 21171***PC 17599***STON/O2. 3101282***113803***373450***330877***17463***349909***347742***237736'

In [50]:
df.at[0,"Name"]

'Braund, Mr. Owen Harris'

In [51]:
# These methods allow you to access a single cell of the DataFrame using labels or integer positions.
df.at[4,'Fare']

8.05

SPLIT

In [126]:
df["Name"].str.split()

0                         [Braund,, Mr., Owen, Harris]
1    [Cumings,, Mrs., John, Bradley, (Florence, Bri...
2                           [Heikkinen,, Miss., Laina]
3    [Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...
4                        [Allen,, Mr., William, Henry]
5                                 [Moran,, Mr., James]
6                         [McCarthy,, Mr., Timothy, J]
7                  [Palsson,, Master., Gosta, Leonard]
8    [Johnson,, Mrs., Oscar, W, (Elisabeth, Vilhelm...
9            [Nasser,, Mrs., Nicholas, (Adele, Achem)]
Name: Name, dtype: object

In [122]:
df["Name"].str.split(expand=True)

            0        1         2        3           4           5        6
0     Braund,      Mr.      Owen   Harris        None        None     None
1    Cumings,     Mrs.      John  Bradley   (Florence      Briggs  Thayer)
2  Heikkinen,    Miss.     Laina     None        None        None     None
3   Futrelle,     Mrs.   Jacques    Heath       (Lily         May    Peel)
4      Allen,      Mr.   William    Henry        None        None     None
5      Moran,      Mr.     James     None        None        None     None
6   McCarthy,      Mr.   Timothy        J        None        None     None
7    Palsson,  Master.     Gosta  Leonard        None        None     None
8    Johnson,     Mrs.     Oscar        W  (Elisabeth  Vilhelmina    Berg)
9     Nasser,     Mrs.  Nicholas   (Adele      Achem)        None     None

In [127]:
df["Name"].str.split(expand = True,n = 4)

            0        1         2        3                            4
0     Braund,      Mr.      Owen   Harris                         None
1    Cumings,     Mrs.      John  Bradley     (Florence Briggs Thayer)
2  Heikkinen,    Miss.     Laina     None                         None
3   Futrelle,     Mrs.   Jacques    Heath              (Lily May Peel)
4      Allen,      Mr.   William    Henry                         None
5      Moran,      Mr.     James     None                         None
6   McCarthy,      Mr.   Timothy        J                         None
7    Palsson,  Master.     Gosta  Leonard                         None
8    Johnson,     Mrs.     Oscar        W  (Elisabeth Vilhelmina Berg)
9     Nasser,     Mrs.  Nicholas   (Adele                       Achem)

In [128]:
sp_df.str.join(sep = "**")

0                           Braund,**Mr.**Owen**Harris
1    Cumings,**Mrs.**John**Bradley**(Florence**Brig...
2                             Heikkinen,**Miss.**Laina
3    Futrelle,**Mrs.**Jacques**Heath**(Lily**May**P...
4                          Allen,**Mr.**William**Henry
5                                   Moran,**Mr.**James
6                           McCarthy,**Mr.**Timothy**J
7                    Palsson,**Master.**Gosta**Leonard
8    Johnson,**Mrs.**Oscar**W**(Elisabeth**Vilhelmi...
9              Nasser,**Mrs.**Nicholas**(Adele**Achem)
Name: Name, dtype: object

EXTRACT

In [2]:
import re
text = "apple 123"
re.findall(r'(\d+)',text)

['123']

In [150]:
# Sample data
data = {'text': ['apple123', 'banana 456', 'cherry 789', 'date 101']}
df = pd.DataFrame(data)
df

         text
0    apple123
1  banana 456
2  cherry 789
3    date 101

In [151]:
df["numbers"] = df["text"].str.extract(r'(\d+)')
df["letters"] = df["text"].str.extract(r'([A-Za-z]+)')
df

         text numbers letters
0    apple123     123   apple
1  banana 456     456  banana
2  cherry 789     789  cherry
3    date 101     101    date

Assign

In [5]:
import pandas as pd
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df= pd.DataFrame(data)
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [6]:
df = df.assign(C = df["A"] + df["B"])
df

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [7]:
df = df.assign(C = df["A"] * df["B"])
df

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [9]:

# Sample data
data = {'A': [10, 20, 30, 40],
        'B': [50, 60, 70, 80]}
df = pd.DataFrame(data)

# Using assign() to create a new column 'C' which is the result of a function applied to column 'A'
df = df.assign(C=lambda x: x['A'] ** 2)

# Using assign() to create a new column 'D' which is the result of applying a lambda function to column 'B'
df = df.assign(D=lambda x: x['B'].apply(lambda val: val * 2))

print(df)

    A   B     C    D
0  10  50   100  100
1  20  60   400  120
2  30  70   900  140
3  40  80  1600  160

GROUPBY

In [3]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/datagy/data/main/sales.csv', parse_dates=['date'])
print(df.head())

        date  gender      region  sales
0 2022-08-22    Male  North-West  20381
1 2022-03-05    Male  North-East  14495
2 2022-02-09    Male  North-East  13510
3 2022-06-22    Male  North-East  15983
4 2022-08-10  Female  North-West  15007

In [4]:
df

          date  gender      region  sales
0   2022-08-22    Male  North-West  20381
1   2022-03-05    Male  North-East  14495
2   2022-02-09    Male  North-East  13510
3   2022-06-22    Male  North-East  15983
4   2022-08-10  Female  North-West  15007
..         ...     ...         ...    ...
995 2022-06-02  Female  North-West  14015
996 2022-05-20  Female  North-East  15503
997 2022-04-02    Male  North-East  18714
998 2022-12-07    Male  North-East  19910
999 2022-12-19  Female  North-West  16589

[1000 rows x 4 columns]

In [159]:
df['region'].unique()

array(['North-West', 'North-East', 'South'], dtype=object)

In [160]:
df.groupby("region").ngroups

3

In [161]:
df.groupby("region").groups

{'North-East': [1, 2, 3, 12, 13, 14, 15, 18, 19, 23, 24, 25, 26, 28, 31, 35, 40, 41, 45, 50, 51, 58, 59, 60, 63, 64, 67, 68, 72, 75, 76, 77, 80, 82, 83, 85, 87, 92, 94, 100, 105, 108, 109, 112, 113, 114, 115, 120, 121, 125, 127, 130, 134, 138, 139, 140, 141, 142, 146, 149, 155, 157, 164, 165, 176, 177, 179, 180, 188, 191, 193, 195, 199, 201, 205, 207, 211, 216, 218, 222, 224, 228, 231, 236, 242, 243, 246, 249, 254, 256, 259, 264, 265, 271, 272, 280, 283, 287, 288, 289, ...], 'North-West': [0, 4, 7, 11, 16, 17, 21, 29, 30, 34, 36, 38, 39, 42, 43, 44, 46, 48, 49, 52, 55, 56, 62, 66, 70, 71, 74, 79, 88, 89, 90, 91, 95, 98, 99, 103, 106, 116, 117, 119, 122, 123, 128, 129, 132, 137, 143, 144, 147, 148, 151, 153, 154, 156, 160, 161, 169, 171, 175, 178, 184, 185, 186, 198, 204, 206, 209, 212, 217, 221, 223, 225, 230, 233, 234, 235, 237, 240, 244, 251, 252, 253, 255, 260, 261, 263, 266, 267, 277, 278, 281, 285, 290, 291, 296, 297, 300, 318, 320, 321, ...], 'South': [5, 6, 8, 9, 10, 20, 22, 27, 32, 33, 37, 47, 53, 54, 57, 61, 65, 69, 73, 78, 81, 84, 86, 93, 96, 97, 101, 102, 104, 107, 110, 111, 118, 124, 126, 131, 133, 135, 136, 145, 150, 152, 158, 159, 162, 163, 166, 167, 168, 170, 172, 173, 174, 181, 182, 183, 187, 189, 190, 192, 194, 196, 197, 200, 202, 203, 208, 210, 213, 214, 215, 219, 220, 226, 227, 229, 232, 238, 239, 241, 245, 247, 248, 250, 257, 258, 262, 268, 269, 270, 273, 274, 275, 276, 279, 282, 284, 286, 292, 294, ...]}

In [162]:
df.groupby('region').groups.keys()

dict_keys(['North-East', 'North-West', 'South'])

In [163]:
df.groupby("region").get_group("South")

          date  gender region  sales
5   2022-09-06    Male  South  21792
6   2022-08-21    Male  South  20113
8   2022-11-22    Male  South  14594
9   2022-01-16  Female  South  24114
10  2022-12-21    Male  South  35154
..         ...     ...    ...    ...
972 2022-06-09    Male  South  22254
979 2022-11-24  Female  South  25591
981 2022-12-05    Male  South  34334
985 2022-12-01  Female  South  21282
994 2022-09-29    Male  South  21255

[331 rows x 4 columns]

In [13]:
averages = {}

for region in df["region"].unique():
    tempdf = df[df["region"] == region]
    
    average = tempdf["sales"].mean()
    
    
    averages[region] = [average]

In [14]:
avg_df = pd.DataFrame.from_dict(averages,orient = "index", columns = ["Average Sales"])
avg_df

            Average Sales
North-West   15257.732919
North-East   17386.072046
South        24466.864048

In [15]:
averages = df.groupby("region")["sales"].mean()
averages

region
North-East    17386.072046
North-West    15257.732919
South         24466.864048
Name: sales, dtype: float64

In [16]:
std_dv = df.groupby("region")["sales"].std()
std_dv

region
North-East    2032.541552
North-West    3621.456493
South         5253.702513
Name: sales, dtype: float64

In [18]:
import numpy as np
aggs  = df.groupby('region')['sales'].agg([np.mean, np.std, np.var])
print(aggs)

                    mean          std           var
region
North-East  17386.072046  2032.541552  4.131225e+06
North-West  15257.732919  3621.456493  1.311495e+07
South       24466.864048  5253.702513  2.760139e+07

In [1]:
import os
os.getcwd()

'C:\\Users\\ELCOT\\Downloads\\DataScience'

In [176]:
df["Percentage_Sales"] = df["sales"]/df.groupby("region")["sales"].transform("sum")

In [177]:
df

          date  gender      region  sales  Percentage_Sales
0   2022-08-22    Male  North-West  20381          0.004148
1   2022-03-05    Male  North-East  14495          0.002403
2   2022-02-09    Male  North-East  13510          0.002239
3   2022-06-22    Male  North-East  15983          0.002649
4   2022-08-10  Female  North-West  15007          0.003055
..         ...     ...         ...    ...               ...
995 2022-06-02  Female  North-West  14015          0.002853
996 2022-05-20  Female  North-East  15503          0.002570
997 2022-04-02    Male  North-East  18714          0.003102
998 2022-12-07    Male  North-East  19910          0.003300
999 2022-12-19  Female  North-West  16589          0.003377

[1000 rows x 5 columns]

In [178]:
df = df.head(10)
df

        date  gender      region  sales  Percentage_Sales
0 2022-08-22    Male  North-West  20381          0.004148
1 2022-03-05    Male  North-East  14495          0.002403
2 2022-02-09    Male  North-East  13510          0.002239
3 2022-06-22    Male  North-East  15983          0.002649
4 2022-08-10  Female  North-West  15007          0.003055
5 2022-09-06    Male       South  21792          0.002691
6 2022-08-21    Male       South  20113          0.002484
7 2022-07-08    Male  North-West  13650          0.002778
8 2022-11-22    Male       South  14594          0.001802
9 2022-01-16  Female       South  24114          0.002978

In [179]:
df["ranked"] = df.groupby("region")["sales"].rank(ascending = True)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_6376\245081520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ranked"] = df.groupby("region")["sales"].rank(ascending = True)

In [180]:
df.sort_values(by = 'ranked', ascending = False)

        date  gender      region  sales  Percentage_Sales  ranked
9 2022-01-16  Female       South  24114          0.002978     4.0
0 2022-08-22    Male  North-West  20381          0.004148     3.0
3 2022-06-22    Male  North-East  15983          0.002649     3.0
5 2022-09-06    Male       South  21792          0.002691     3.0
1 2022-03-05    Male  North-East  14495          0.002403     2.0
4 2022-08-10  Female  North-West  15007          0.003055     2.0
6 2022-08-21    Male       South  20113          0.002484     2.0
2 2022-02-09    Male  North-East  13510          0.002239     1.0
7 2022-07-08    Male  North-West  13650          0.002778     1.0
8 2022-11-22    Male       South  14594          0.001802     1.0

In [181]:
# Filtering Rows Where the Group's Average Sale Price is Less Than 20,000
df_avg = df.groupby("region").filter(lambda x : x["sales"].mean() < 20000 )
df_avg.head()

        date  gender      region  sales  Percentage_Sales  ranked
0 2022-08-22    Male  North-West  20381          0.004148     3.0
1 2022-03-05    Male  North-East  14495          0.002403     2.0
2 2022-02-09    Male  North-East  13510          0.002239     1.0
3 2022-06-22    Male  North-East  15983          0.002649     3.0
4 2022-08-10  Female  North-West  15007          0.003055     2.0

In [182]:
import warnings
warnings.filterwarnings("ignore")

In [183]:
sums= df.groupby(["region","gender"])['sales'].sum()
sums

region      gender
North-East  Male      43988
North-West  Female    15007
            Male      34031
South       Female    24114
            Male      56499
Name: sales, dtype: int64

In [184]:
df["rank"]= df.groupby(["region","gender"])["sales"].rank(ascending = False)
df

        date  gender      region  sales  Percentage_Sales  ranked  rank
0 2022-08-22    Male  North-West  20381          0.004148     3.0   1.0
1 2022-03-05    Male  North-East  14495          0.002403     2.0   2.0
2 2022-02-09    Male  North-East  13510          0.002239     1.0   3.0
3 2022-06-22    Male  North-East  15983          0.002649     3.0   1.0
4 2022-08-10  Female  North-West  15007          0.003055     2.0   1.0
5 2022-09-06    Male       South  21792          0.002691     3.0   1.0
6 2022-08-21    Male       South  20113          0.002484     2.0   2.0
7 2022-07-08    Male  North-West  13650          0.002778     1.0   2.0
8 2022-11-22    Male       South  14594          0.001802     1.0   3.0
9 2022-01-16  Female       South  24114          0.002978     4.0   1.0

In [185]:
def group_range(x):
    return x.max() - x.min()
ranges = df.groupby(["region","gender"])['sales'].apply(group_range)
ranges

region      gender
North-East  Male      2473
North-West  Female       0
            Male      6731
South       Female       0
            Male      7198
Name: sales, dtype: int64

In [186]:
 df.groupby(["region","gender"])['sales'].nlargest(3)

region      gender
North-East  Male    3    15983
                    1    14495
                    2    13510
North-West  Female  4    15007
            Male    0    20381
                    7    13650
South       Female  9    24114
            Male    5    21792
                    6    20113
                    8    14594
Name: sales, dtype: int64

# Different Ways to Combine Data¶

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame.from_dict({'col1': [1, 2, 3], 'col2': ['a', 'b', 'c'], 'col3': ['a1', 'b2', 'c3']})
df2 = pd.DataFrame.from_dict({'col1': [4, 5, 6], 'col2': ['d', 'e', 'f'], 'col3': ['d4', 'e5', 'f6']})
df3 = pd.DataFrame.from_dict({'col1': [7, 8, 9], 'col2': ['g', 'h', 'i'], 'col4': ['g7', 'h2', 'i3']})

In [4]:
display(df1)
display(df2)
display(df3)

   col1 col2 col3
0     1    a   a1
1     2    b   b2
2     3    c   c3

   col1 col2 col3
0     4    d   d4
1     5    e   e5
2     6    f   f6

   col1 col2 col4
0     7    g   g7
1     8    h   h2
2     9    i   i3

## Pandas concat() function, which can be used to combine DataFrames together

In [5]:
pd.concat([df1,df2],ignore_index = True)

   col1 col2 col3
0     1    a   a1
1     2    b   b2
2     3    c   c3
3     4    d   d4
4     5    e   e5
5     6    f   f6

In [ ]:
#image

In [135]:
display(df1)
display(df3)

   col1 col2 col3
0     1    a   a1
1     2    b   b2
2     3    c   c3

   col1 col2 col4
0     7    g   g7
1     8    h   h2
2     9    i   i3

In [6]:
pd.concat([df1,df3],ignore_index = True)

   col1 col2 col3 col4
0     1    a   a1  NaN
1     2    b   b2  NaN
2     3    c   c3  NaN
3     7    g  NaN   g7
4     8    h  NaN   h2
5     9    i  NaN   i3

In [136]:
pd.concat([df1,df3],ignore_index = True,join = 'inner')     #join=inner or outer

   col1 col2
0     1    a
1     2    b
2     3    c
3     7    g
4     8    h
5     9    i

In [137]:
pd.concat([df1,df2,df3],ignore_index = True)

   col1 col2 col3 col4
0     1    a   a1  NaN
1     2    b   b2  NaN
2     3    c   c3  NaN
3     4    d   d4  NaN
4     5    e   e5  NaN
5     6    f   f6  NaN
6     7    g  NaN   g7
7     8    h  NaN   h2
8     9    i  NaN   i3

Extract

# Appending Two DataFrames with .append

In [7]:
df1.append(df2)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8272\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   col1 col2 col3
0     1    a   a1
1     2    b   b2
2     3    c   c3
0     4    d   d4
1     5    e   e5
2     6    f   f6

In [ ]:
MERGE

In [ ]:
#Understanding the Pandas merge() Function
pd.merge(
    left,                   # A DataFrame or Series
    right,                  # A DataFrame or Series
    how="inner",            # What join type to use
    on=None,                # What key to use (string or list of strings)
    left_on=None,           # If keys on the left are different from the right
    right_on=None,          # If keys on the right are different from the left
    left_index=False,       # If merging on the index, set to True
    right_index=False,      # If merging on the index, set to True
    sort=True,              # Whether to sort the joing keys in lexigraphical order
    suffixes=("_x", "_y"),  # A tuple of strings to append to overlapping columns
    copy=True,              # Whether to copy data. Should be set to True.
    indicator=False,        # Add a column indicating both, left_only, or right_only
    validate=None,          # Whether to validate a merge type
)

In [18]:
books = pd.DataFrame.from_dict({
    'Author ID': [1,1,2,3],
    'Book ID': [1,2,1,1],
    'Name': ['Intro to Python', 'Python 201', 'Data Science', 'Machine Learning']})

authors = pd.DataFrame.from_dict({
    'Author ID': [1,2,3,4],
    'Name': ['Nik', 'Kate', 'Jane', 'Evan']})

sales = pd.DataFrame.from_dict({
    'Author ID': [1,1,1,2,3,4],
    'Book ID': [1,2,1,1,1,1],
    'Sales': [10, 20, 10, 30, 45, 10]})

In [21]:
display(books)
display(authors)

   Author ID  Book ID              Name
0          1        1   Intro to Python
1          1        2        Python 201
2          2        1      Data Science
3          3        1  Machine Learning

   Author ID  Name
0          1   Nik
1          2  Kate
2          3  Jane
3          4  Evan

In [23]:
merged = pd.merge(left = books,right = authors,left_on= "Author ID",right_on = "Author ID")
merged

   Author ID  Book ID            Name_x Name_y
0          1        1   Intro to Python    Nik
1          1        2        Python 201    Nik
2          2        1      Data Science   Kate
3          3        1  Machine Learning   Jane

In [14]:
merger = pd.merge(left = books,right = authors,on= "Author ID")   #can with only(on) when both left and right columns are same.
merger

   Author ID  Book ID            Name_x Name_y
0          1        1   Intro to Python    Nik
1          1        2        Python 201    Nik
2          2        1      Data Science   Kate
3          3        1  Machine Learning   Jane

In [143]:
pd.merge(left = books,right = authors,left_on = "Author ID",right_on = "Author ID",how = "outer")

   Author ID  Book ID            Name_x Name_y
0          1      1.0   Intro to Python    Nik
1          1      2.0        Python 201    Nik
2          2      1.0      Data Science   Kate
3          3      1.0  Machine Learning   Jane
4          4      NaN               NaN   Evan

In [144]:
display(books)
display(authors)

   Author ID  Book ID              Name
0          1        1   Intro to Python
1          1        2        Python 201
2          2        1      Data Science
3          3        1  Machine Learning

   Author ID  Name
0          1   Nik
1          2  Kate
2          3  Jane
3          4  Evan

In [146]:
pd.merge(left = books,right = authors,left_on = "Author ID",right_on = "Author ID",
         suffixes = ("(book)","(author)"))

   Author ID  Book ID        Name(book) Name(author)
0          1        1   Intro to Python          Nik
1          1        2        Python 201          Nik
2          2        1      Data Science         Kate
3          3        1  Machine Learning         Jane

In [147]:
print(books)
print(sales)

   Author ID  Book ID              Name
0          1        1   Intro to Python
1          1        2        Python 201
2          2        1      Data Science
3          3        1  Machine Learning
   Author ID  Book ID  Sales
0          1        1     10
1          1        2     20
2          1        1     10
3          2        1     30
4          3        1     45
5          4        1     10

In [148]:
pd.merge(left = books, right = sales, on = ["Author ID","Book ID"])

   Author ID  Book ID              Name  Sales
0          1        1   Intro to Python     10
1          1        1   Intro to Python     10
2          1        2        Python 201     20
3          2        1      Data Science     30
4          3        1  Machine Learning     45

In [20]:
pd.merge(left = books, right = authors, on = ["Author ID","Name"],how='outer')

   Author ID  Book ID              Name
0          1      1.0   Intro to Python
1          1      2.0        Python 201
2          2      1.0      Data Science
3          3      1.0  Machine Learning
4          1      NaN               Nik
5          2      NaN              Kate
6          3      NaN              Jane
7          4      NaN              Evan

# Assignment

1. True or False: In this tutorial, concatenation was explained as lengthening a DataFrame. Merging was explained as widening a DataFrame. Concatenation can also be used to widen a DataFrame?

    
2. When merging, when would you use on= rather than left_on= and right_on=?¶

1.Return a DataFrame containing the minimum value of each region’s dates.

2.Which is the smallest standard deviation of sales?

3.How would you return the last 2 rows of each group of region and gender?
​